<div>
    <div class="modal">
        <div id="DeleteConfirm">
            <div class="Modal__head">
                <h1 class="invModal__title" style="font-size: 23px;">What do you want to do about your cart?</h1>
            </div>
            <div class="Modal__body">
                <div class="form__col-wrap">
                    <div class="form__col form__col--third">
                        <div class="card2">
                            <div class="form__col-wrap">
                                <div class="form__col--two-third">
                                    <p class="card-detail">Keep it so I can complete it later.</p>
                                </div>
                                <div>
                                    <button style="cursor: pointer; background-color: green;" type="button"
                                        (click)="KeepCart()" class="button button--medium button">Keep The Cart
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="card2">
                            <div class="form__col-wrap">
                                <div class="form__col--two-third">
                                    <p class="card-detail">Clear the cart of all items; I don't need it.</p>
                                </div>
                                <div>
                                    <button style="cursor: pointer; background-color: red;" type="button"
                                        (click)="clearCart() " class="button button--medium button">Clear The Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card2">
                            <div class="form__col-wrap">
                                <div class="form__col--two-third">
                                    <p class="card-detail">Return to Cart so I can complete it now.</p>
                                </div>
                                <div>
                                    <button style="cursor: pointer;" type="button" (click)="close()"
                                        class="button button--medium button">Return To Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="Modal__footer">
                <div class="button-group">

                    <button style="cursor: pointer;" type="button" (click)="close()"
                        class="button button--medium button--text-only">Cancel
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>