.card2
{
    
    width: 912px;

    text-align: justify;
    text-decoration: none;
    line-height: 32px;
    box-sizing: content-box;
    margin:10px;
    margin-bottom: 25px;
    // border-bottom: 1px solid #ccc;

}
#DeleteConfirm {
    background-color: #ffffff;
    border-radius: 22px;
    box-shadow: 0 0 10px #96a0aa;
    max-height: calc(100% - 6rem);
    margin: 3rem auto;
    overflow: hidden;
    position: relative;
    width: 728px;
    height: 380px;
}
.Modal__body {
    background: rgba(242, 222, 222, 0.52) !important;
    height: 32vh;
    padding: 2rem 2rem;
}
.form__col-wrap {
    display: flex;
    flex-wrap: wrap;
     justify-content: start;
}
.form__col--two-third {
    width: calc(((100% / 3) * 2) - 5.991rem);

}
.card-detail{
     font-size: 21px; 
    // background-color: #d9edf7; 
        border-color: #d9edf7;
        color: #283237;
}