<div class="action action--change" *ngIf="IsChangeEvent!=undefined&&item!=undefined&&CircumstanceFields!=undefined"
    [ngClass]="{'action--is-active': IsChangeEvent}">
    <button *ngIf="IsChangeEvent" class="icons__item icons__item--theme05 icons__item--clone icons__item--is-active"
        style="top: 0px; left: 275px;">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--change" aria-labelledby="title-5f83f4826a166"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M48 0v48H0V0z"></path>
                <path d="M0 48h48V0H0z" fill="none"></path>
                <path d="M22 18V4H10a6 6 0 00-6 6v28a6 6 0 006 6h12V30l6-6z" fill="currentColor"
                    class="icon__color--primary">
                </path>
                <path d="M38 38a6 6 0 01-6 6h-6v-6zm0-28a6 6 0 00-6-6h-6v6z" fill="currentColor"
                    class="icon__color--secondary">
                </path>
                <path d="M38 4h-6a6 6 0 016 6v28a6 6 0 01-6 6h6a6 6 0 006-6V10a6 6 0 00-6-6z" fill="currentColor"
                    class="icon__color--primary"></path>
            </svg></div>
        <span class="icons__label">Change</span>
    </button>
    <form class="action__wrap form" #f="ngForm">
        <div class="form__section">
            <h2 class="form__section-title">Change this QTY...</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="quantity_change_{{item.inventoryId}}">Quantity<span
                            class="form__required">*</span></label>
                    <input class="form__input" type="number" id="quantity_change_{{item.inventoryId}}"
                        [(ngModel)]="InventoryTransactionObj.transactionQty" name="quantity_change_{{item.inventoryId}}"
                        required>
                </div>

            </div>
        </div>
        <div class="form__section">
            <h2 class="form__section-title">To this state</h2>
            <div class="form__col-wrap">

                <ng-container *ngFor="let field of StateFields">
                    <div class="form__col form__col--third"
                        [ngClass]="field.customFieldSpecialType=='Currency'?'currencyfield':''||field.dataType=='True/False'?'form__col--group':''">

                        <label class="form__label" for="State_{{field.columnId}}"
                            *ngIf="field.customFieldSpecialType!='Dropdown'&&field.dataType!='True/False'"
                            [ngClass]="[field.customFieldPrefix.length=='1' ? 'prefixLabel':''||field.customFieldPrefix.length=='2' ? 'prefixLabel1':''||field.customFieldPrefix.length=='3' ? 'prefixLabel2':''||field.customFieldPrefix.length>'4' ? 'prefixLabel3':'']">{{field.columnLabel}}<span
                                *ngIf="field.customFieldIsRequired" class="form__required">*</span></label>
                        <span class="form__group-outer-label" *ngIf="field.dataType=='True/False'">{{(field.columnLabel.length>6)? (field.columnLabel |
                                    slice:0:6)+'...':(field.columnLabel)}} :</span>
                        <ng-container *ngIf="field.dataType=='Text'">
                            <ng-container *ngIf="field.customFieldSpecialType=='Autocomplete'">
                                <ng-autocomplete [data]="ComboValueDropdown(field.comboBoxValue)"
                                    [searchKeyword]="keyword" (selected)='selectEvent($event)' [debounceTime]="600"
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='Dropdown'">

                                <select class="form__input form__select" id="State_{{field.columnId}}"
                                    name="State_{{field.columnId}}" [(ngModel)]="field.columnValue" required>
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='OpenField'">
                                <ng-container *ngIf="field.customFieldSuffix||field.customFieldPrefix"
                                    class="input-group">
                                    <span *ngIf="field.customFieldPrefix" class="input-group-addon text Prefix">{{(field.customFieldPrefix.length>3)? (field.customFieldPrefix |
                                            slice:0:3)+'...':(field.customFieldPrefix)}}</span>
                                    <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                        id="State_{{field.columnId}}"
                                        [ngClass]="[field.customFieldPrefix.length=='1' ? 'Addon':''||field.customFieldPrefix.length=='2'?'Addon1':''||field.customFieldPrefix.length=='3'?'Addon2':''||field.customFieldPrefix.length>'4'?'Addon3':'']"
                                        name="State_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                    <span *ngIf="field.customFieldSuffix"
                                        class="input-group-addon text Suffix">{{field.customFieldSuffix}}</span>
                                </ng-container>
                                <ng-container *ngIf="!field.customFieldSuffix&&!field.customFieldPrefix">
                                    <input type="{{field.dataType}}" maxlength="{{field.customFieldTextMaxLength}}"
                                        [required]="field.customFieldIsRequired" id="State_{{field.columnId}}"
                                        name="State_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                </ng-container>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">

                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">

                            </ng-container>

                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Number'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Number'">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Currency'" class="input-group">
                                <span class="input-group-addon text">$</span>
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>



                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Date/Time'">
                            <ng-container
                                *ngIf="field.customFieldSpecialType=='Date'||field.customFieldSpecialType==''">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" data-flatpickr-mode="single"
                                    name="State_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Date & Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" data-flatpickr-mode="single"
                                    name="State_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" data-flatpickr-mode="single"
                                    name="State_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    class="form__input flatpickr">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="field.dataType=='True/False'">
                            <div class="form__group form__group--radio">
                                <input id="Circustance_{{field.columnId}}_1" [(ngModel)]="field.columnValue"
                                    class="form__radio" type="radio" value="{{field.customFieldFalseLabel}}"
                                    name="Circustance_{{field.columnId}}">
                                <label class="form__group-label" for="Circustance_{{field.columnId}}_1">{{(field.customFieldFalseLabel.length>5)? (field.customFieldFalseLabel |
                                        slice:0:5)+'...':(field.customFieldFalseLabel)}}</label>
                            </div>
                            <div class="form__group form__group--radio">
                                <input [(ngModel)]="field.columnValue" value="{{field.customFieldTrueLabel}}"
                                    id="Circustance_{{field.columnId}}_2" class="form__radio" type="radio"
                                    name="Circustance_{{field.columnId}}">
                                <label class="form__group-label" for="Circustance_{{field.columnId}}_2">{{(field.customFieldTrueLabel.length>5)? (field.customFieldTrueLabel |
                                        slice:0:5)+'...':(field.customFieldTrueLabel)}}</label>
                            </div>


                        </ng-container>
                    </div>
                </ng-container>
                <div class="form__col form__col--third">
                </div>
                <div class="form__col form__col--third">
                </div>



            </div>
        </div>

        <div class="form__section">
            <h2 class="form__section-title">Under these circumstances</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="event-date_change_{{item.inventoryId}}">Event
                        Date</label>
                    <input type="date" class="form__input flatpickr" [ngModel]="today | date:'yyyy-MM-dd'"
                        id="event-date_change_{{item.inventoryId}}" name="event-date_change_{{item.inventoryId}}"
                        data-flatpickr-mode="single">
                </div>

                <ng-container *ngFor="let field of CircumstanceFields">
                    <div class="form__col form__col--third"
                        [ngClass]="field.customFieldSpecialType=='Currency'?'currencyfield':''||field.dataType=='True/False'?'form__col--group':''"
                        *ngIf="field.customFieldIncludeOnApply">

                        <label class="form__label" for="Circustance_{{field.columnId}}"
                            *ngIf="field.customFieldSpecialType!='Dropdown'&&field.dataType!='True/False'"
                            [ngClass]="[field.customFieldPrefix.length=='1' ? 'prefixLabel':''||field.customFieldPrefix.length=='2' ? 'prefixLabel1':''||field.customFieldPrefix.length=='3' ? 'prefixLabel2':''||field.customFieldPrefix.length>'4' ? 'prefixLabel3':'']">{{field.columnLabel}}<span
                                *ngIf="field.customFieldIsRequired" class="form__required">*</span></label>
                        <span class="form__group-outer-label" *ngIf="field.dataType=='True/False'">{{(field.columnLabel.length>6)? (field.columnLabel |
                                    slice:0:6)+'...':(field.columnLabel)}} :</span>
                        <ng-container *ngIf="field.dataType=='Text'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Autocomplete'">
                                <ng-autocomplete [data]="ComboValueDropdown(field.comboBoxValue)"
                                    [searchKeyword]="keyword" (selected)='selectEvent($event)' [debounceTime]="600"
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='Dropdown'">

                                <!-- <select class="form__input form__select" id="Circustance_{{field.columnId}}"
                                    name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue" required>
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select> -->
                                <select class="floating-select" id="Circustance_{{field.columnId}}"
                                    name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    required="required">
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='OpenField'">
                                <ng-container *ngIf="field.customFieldSuffix||field.customFieldPrefix"
                                    class="input-group">
                                    <span *ngIf="field.customFieldPrefix" class="input-group-addon text Prefix">{{(field.customFieldPrefix.length>3)? (field.customFieldPrefix |
                                            slice:0:3)+'...':(field.customFieldPrefix)}}</span>
                                    <input type="text" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}"
                                        [ngClass]="[field.customFieldPrefix.length=='1' ? 'Addon':''||field.customFieldPrefix.length=='2'?'Addon1':''||field.customFieldPrefix.length=='3'?'Addon2':''||field.customFieldPrefix.length>'4'?'Addon3':'']"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                    <span *ngIf="field.customFieldSuffix"
                                        class="input-group-addon text Suffix">{{field.customFieldSuffix}}</span>
                                </ng-container>
                                <ng-container *ngIf="!field.customFieldSuffix&&!field.customFieldPrefix">
                                    <input type="text" maxlength="{{field.customFieldTextMaxLength}}"
                                        [required]="field.customFieldIsRequired" id="Circustance_{{field.columnId}}"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                </ng-container>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">

                                <input type="text" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">

                            </ng-container>

                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Number'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Number'">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Currency'" class="input-group">
                                <span class="input-group-addon text">$</span>
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>



                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Date/Time'">
                            <ng-container
                                *ngIf="field.customFieldSpecialType=='Date'||field.customFieldSpecialType==''">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Date & Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="field.dataType=='True/False'">
                            <div class="form__group form__group--radio">
                                <input id="Circustance_{{field.columnId}}_1" [(ngModel)]="field.columnValue"
                                    class="form__radio" type="radio" value="{{field.customFieldFalseLabel}}"
                                    name="Circustance_{{field.columnId}}">
                                <label class="form__group-label" for="Circustance_{{field.columnId}}_1">{{(field.customFieldFalseLabel.length>5)? (field.customFieldFalseLabel |
                                        slice:0:5)+'...':(field.customFieldFalseLabel)}}</label>
                            </div>
                            <div class="form__group form__group--radio">
                                <input [(ngModel)]="field.columnValue" value="{{field.customFieldTrueLabel}}"
                                    id="Circustance_{{field.columnId}}_2" class="form__radio" type="radio"
                                    name="Circustance_{{field.columnId}}">
                                <label class="form__group-label" for="Circustance_{{field.columnId}}_2">{{(field.customFieldTrueLabel.length>5)? (field.customFieldTrueLabel |
                                        slice:0:5)+'...':(field.customFieldTrueLabel)}}</label>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

                <div class="form__col form__col--third">
                </div>
                <div class="form__col form__col--third">
                </div>


            </div>

        </div>
        <div class="button-group">
            <button type="submit" class="button button--medium" [disabled]="!f.form.valid" class="button button--medium"
                (click)="ChangeEventSubmit()" href="#">Save</button>
            <button type="button" class="button button--medium button--text-only js-trigger" (click)="EventAction(item)"
                data-trigger=".table__button-group .icons__item.is-active">Cancel
            </button></div>
    </form>
    <button class="action__close js-trigger icons--size02" data-trigger=".table__button-group .icons__item.is-active"
        type="button">
        Back to Event Menu
    </button>

</div>