@import "~ng-pick-datetime/assets/style/picker.min.css";

.ExpandedRowMenu{
    height: auto;
    max-height: fit-content;
    margin-bottom: 10px;
}

.ExpandedRowWithForm{
    height: auto;
    max-height: 1000px;
}
.invModal__body {
    height: 60vh;
    overflow: auto;
    padding: 1rem 3.75rem;
}
.invModal__footer {
    padding: 0 4.75rem;
}

// .button-group {
//   justify-content: left;
// }

.card2 {
    background-color: #ffffff;
    height: 200px;
    width: 400px;
    text-align: center;
    padding-top: 40px;
    box-shadow: 0 5px 28px rgba(0,0,0,.22), 0 25px 55px rgba(0,0,0,.21);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}
.addBtn {
    margin: 3rem auto;
}
.js-modal {
    border-radius: 2rem;
}

.form__col-group {
    align-items: center;
    display: flex;
    margin-bottom: 8px;
    position: relative;
    width: auto;
}

.form__group-label {
    &::before {
      border: .063rem solid rgb(168, 168, 168);
    }
  }
  
#image_card{
    width: 45px;
    border-radius: 0px;
    margin: 0 auto;
     cursor: pointer;
}
#Image_small {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 100px;
}
 .table__heading,.table__cell
 {
     border-right:0px !important;
 }
 .table__heading-options {
    cursor: col-resize;
    border-right: 1px solid #ccc;
}
.table {
    width: 100%;
    overflow: auto;
    table-layout: fixed;
    &.resizing {
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: col-resize;
    }
    .table__cell {
      span {       
        display: block; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .table__heading {
      position: relative;      
      &:not(:last-child) {
        .resize-holder {
          cursor: col-resize;
          width: 20px;
          height: 100%;
          position: absolute;
          right: -10px;
          top: 0;
          z-index: 1;
        }
      }
    }
    .table__cell,
    .table__heading {
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    //   &:not(:nth-child(1)) {
    //     padding: 0 10px;
    //   }
    }
}

.mycard{

   height: 70px;
    width: 70px;
    background-color: #fff;
    box-shadow: 2px 1px 10px #ccc;

}
.gridImage{
      height: 70px;
    width: 70px;
}


.action-view-border{
    border-left: 1px solid black;
    padding-left: 1rem;
    height: 40px;
}
.card__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 1rem;
  li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0;
    padding: .5rem 1rem;
    transition-duration: 300ms;
    &:hover {
      background-color: black-squeeze;
    }
  }
  svg {
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    margin: 0 2px;
    width: 16px;
  }
}
.card__icons {
  display: flex;
  padding: .5rem 0 0;
}
.card__select-wrap {
  border: 1px solid text-gray;
  border-radius: 6px;
  height: 32px;
  margin-bottom: 2rem;
  position: relative;
  &::after {
    background-color: #d3dbe2;
    content: '';
    display: block;
    height: 1px;
    margin-top: 1rem;
    width: 100%;
  }
}
.card__select {
  display: none;
}
.card__controls {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}
.card__cancel {
  color: clearly-blue;
  cursor: pointer;
}
.card__apply {
  background-color: clearly-blue;
  border-radius: 14px;
  color: white;
  cursor: pointer;
  padding: 5px 8px;
}

.col{
  width: 50%;
  float: left;
}
.col1{
  width: 204px;
  float:left;
}
.labelcolor{
  color:white
}
.hero{

	position:relative;
}
.hero:after,
.hero:after {
    z-index: -1;
    position: absolute;
    top: 98.1%;
    left: 29.51%;
    margin-left: -25%;
    content: "";
    width: 0;
    height: 0;
    border-top: solid 9px #283237;
    border-left: solid 11px transparent;
    border-right: solid 11px transparent;
}

.IconSection{
       border-left: 2px solid #d3dbe2;
    padding-left: 1rem;
        padding-right: 1rem;
}
.button-group {
    justify-content: flex-start;
}

// coloumn Freez 
tabulator-row .tabulator-frozen.tabulator-frozen-left {
    border-right: 2px solid #aaa;
}
.tabulator-row .tabulator-cell {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 6px;
    border-right: 1px solid #aaa;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabulator-row .tabulator-frozen {
    display: inline-block;
    position: absolute;
    background-color: inherit;
    z-index: 10;
}