<div class="container" style="margin-left: 36px;margin-top: 21px;">

    <div class="container" style="display: flex;">
        <p>Number</p>&nbsp;&nbsp;
        <div class="form__col form__col--half">
            <label class=" form__label" for="dynamic_Attribute">Iasfsdfsdf</label>
            <input type="number" style="width: 160px;" id="dynamic_Attribute" name="dynamic_Attribute"
                class="form__input">
        </div>
        <div class="icons icons--horziontal icons--size02" style="margin-top: -20px; margin-left: 10px;">
            <button type="button" (click)="selectField('number')" class="icons__item icons__item--outline">
                <div class="icons__icon"><svg class="icon-simple icon-simple--theme01 icon-simple--add"
                        aria-labelledby="title-5ffe9d5ebbc1a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M0 10h24v4H0z"></path>
                        <path fill="currentColor" d="M14 0v24h-4V0z"></path>
                    </svg></div>

            </button>
        </div>
    </div>

    <div class="container" style="display: flex;">
        <p>Currency</p>&nbsp;
        <div class="form__col form__col--half">

            <span class="input-group-addon text" style="margin-left: 7px;">$</span>
            <label class="form__label" style="margin-left: 20px;" for="dynamic_Attribute1">Iasfsdfsdf</label>
            <input type="number" id="dynamic_Attribute1" class="form__input Addon" style="width: 160px;"
                name="dynamic_Attribute1">
        </div>
        <div class="icons icons--horziontal icons--size02" style="margin-top: -20px; margin-left: 10px;">
            <button type="button" (click)="selectField('currency')" class="icons__item icons__item--outline">
                <div class="icons__icon"><svg class="icon-simple icon-simple--theme01 icon-simple--add"
                        aria-labelledby="title-5ffe9d5ebbc1a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M0 10h24v4H0z"></path>
                        <path fill="currentColor" d="M14 0v24h-4V0z"></path>
                    </svg></div>

            </button>
        </div>
    </div>

</div>