<div class="container" style="    margin-left: 36px;
    margin-top: 21px;
">

    <div class="container" style="display: flex;">
        <p>Number</p>&nbsp;&nbsp;
        <div class="form__col form__col--half">
            <label class=" form__label" for="dynamic_Attribute">Iasfsdfsdf</label>
            <input type="number" style="width: 160px;" id="dynamic_Attribute" name="dynamic_Attribute"
                class="form__input">
        </div>
    </div>

    <div class="container" style="display: flex;">
        <p>Currency</p>&nbsp;
        <div class="form__col form__col--half">

            <span class="input-group-addon text" style="margin-left: 7px;">$</span>
            <label class="form__label " style="margin-left: 20px;" for="dynamic_Attribute1">Iasfsdfsdf</label>
            <input type="number" id="dynamic_Attribute1" class="form__input Addon" style="width: 160px;"
                name="dynamic_Attribute1">
        </div>
    </div>

</div>