<div class="container" style="    margin-left: 36px;
    margin-top: 21px;
">

    <div class="container" style="display: flex;">
        <p>Date</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text"
            style="width: 160px;" id="date" name="date" data-flatpickr-mode="single" class="form__input flatpickr">

    </div>
    <div class="container" style="display: flex;">
        <p>Date&Time</p> &nbsp; <input type="text" id="dateandtime" style="width: 160px;" name="dateandtime"
            data-flatpickr-mode="single" class="form__input flatpickr">
    </div>
    <div class="container" style="display: flex;">
        <p>Time</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text"
            id="dateandtime" style="width: 160px;" name="dateandtime" data-flatpickr-mode="single"
            class="form__input flatpickr">
    </div>

</div>