@import "~ng-pick-datetime/assets/style/picker.min.css";
.table {
    width: 100%;
    overflow: auto;
    table-layout: fixed;
    &.resizing {
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: col-resize;
    }
    .table__cell {
      span {       
        display: block; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .table__heading {
      position: relative;      
      &:not(:last-child) {
        .resize-holder {
          cursor: col-resize;
          width: 20px;
          height: 100%;
          position: absolute;
          right: -10px;
          top: 0;
          z-index: 1;
        }
      }
    }
    .table__cell,
    .table__heading {
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    //   &:not(:nth-child(1)) {
    //     padding: 0 10px;
    //   }
    }
}
 .table__heading,.table__cell
 {
     border-right:0px !important;
 }
 .table__heading-options {
    cursor: col-resize;
    border-right: 1px solid #ccc;
}