@import "~ng-pick-datetime/assets/style/picker.min.css";


 .table__heading,.table__cell
 {
     border-right:0px !important;
 }
 .table__heading-options {
    border-right: 1px solid #ccc;
}
.table__table {
    border-collapse: collapse;
    font-size: 19px;
    line-height: 1.4375;
    width: 100%;
    overflow: auto;
    table-layout: initial;
}
.table {
    width: 100%;
    overflow: auto;
    table-layout: fixed;
    &.resizing {
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: col-resize;
    }
    .table__cell {
      span {       
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .table__heading {
      position: relative;      
      &:not(:last-child) {
        .resize-holder {
          cursor: col-resize;
          width: 20px;
          height: 100%;
          position: absolute;
          right: -10px;
          top: 0;
          z-index: 1;
        }
      }
    }
    .table__cell,
    .table__heading {
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    //   &:not(:nth-child(1)) {
    //     padding: 0 10px;
    //   }
    }
}
.form__col {
     margin: 0; 
    position: relative;
    width: 100%;
}

#input
{
  float: left;
  margin-right: 14px;
}

