<div class="action action--adjust" *ngIf="item!=undefined" [ngClass]="{'action--is-active': item.isAdjustOpen}">
    <button *ngIf="item.isAdjustOpen" class="icons__item icons__item--theme07 icons__item--clone icons__item--is-active"
        style="top: 0px; left: 275px;">
        <div class="icons__icon"><svg class="icon icon--theme07 icon--adjust" aria-labelledby="title-5f83f4826a17f"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="currentColor" class="icon__color--primary" d="M6 36h36v8H6z">
                </path>
                <path d="M12 23.2a8 8 0 00-2.1 7.7 7.9 7.9 0 007.7-2 8.1 8.1 0 002.1-7.8 8 8 0 00-7.7 2.1z"
                    fill="currentColor" class="icon__color--secondary"></path>
                <path d="M17.6 17.6L12 23.2l5.6 5.7a8 8 0 010-11.3z" fill="currentColor" class="icon__color--secondary">
                </path>
                <path
                    d="M28.9 6.2L17.6 17.6a8 8 0 000 11.3l17-17zm5.075-3.486l4.242 4.243a1 1 0 010 1.414l-2.121 2.122-5.657-5.657 2.122-2.122a1 1 0 011.414 0z"
                    fill="currentColor" class="icon__color--primary"></path>
                <path fill="none" d="M48 0v48H0V0z"></path>
                <path d="M0 48h48V0H0z" fill="none"></path>
            </svg></div>
        <span class="icons__label">Adjust</span>
    </button>
    <form class="action__wrap form" [hidden]="success" #f="ngForm">

        <div class="form__section">
            <h2 class="form__section-title">Make the new QTY...</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="quantity_AdjustQuantity">Quantity<span
                            class="form__required">*</span></label>
                    <input class="form__input" type="number" id="quantity_AdjustQuantity"
                        [(ngModel)]="item.transactionQty" required name="quantity_AdjustQuantity"
                        [(ngModel)]="AdjustQuantity">
                </div>

            </div>
        </div>

        <div class="form__section">
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="event-date_AdjustQuantity">Event
                        Date<span class="form__required">*</span></label>
                    <input type="date" mwlFlatpickr [ngModel]="today | date:'yyyy-MM-dd'" class="form__input flatpickr"
                        id="event-date_AdjustQuantity" name="event-date_AdjustQuantity" data-flatpickr-mode="single">
                </div>
            </div>
        </div>



        <br />
        <div class="button-group">
            <button type="submit" [disabled]="!f.form.valid" class="button button--medium"
                (click)="AdjustQuantityFunc(item)">Save</button>
            <button type="button" class="button button--medium button--text-only js-trigger" (click)="EventAction(item)"
                data-trigger=".table__button-group .icons__item.is-active">Cancel
            </button></div>

    </form>


</div>