.sg-icons {
  display: flex;
  flex-wrap: wrap;
}
.sg-icon {
  margin-bottom: 2rem;
  margin-right: 4rem;
  text-align: center;
  width: 3rem;
}
.sg-label {
  display: block;
  font-size: 10px;
  padding-top: .75rem;
  text-align: center;
}
