.card2
{
    // background: #fff;
    width: 350px;
    height: 188px;
    padding: 10px;
    text-align: justify;
    text-decoration: none;
    line-height: 32px;
    box-sizing: content-box;
    margin:10px;
}
.card2:hover{
    background: #fff;
    -webkit-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
-moz-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
}
.card1
{
    // background: #fff;
    width: 350px;
    padding: 10px;
    text-align: justify;
    text-decoration: none;
    line-height: 32px;
    box-sizing: content-box;
    margin:10px;
}
.card1:hover{
    background: #fff;
    -webkit-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
-moz-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
}
.manageButton
{
    padding: 60px 0px 0px 10px;
      cursor: pointer;
}
 .card-header1 {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
   
}

.form__col--second {
    width: 420px !important;
}
#btn1 {
    width: 100%;
    text-align: right;
}
.Add_Icon {
    border: 1px solid #2de29d;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    background: #2de29d;
    margin: 0 auto;
    margin-bottom: 10px;
}
.add--tenant {
    text-align: center;
    padding: 48px;
}