<div class="actions">
    <div class="actions__title">
        <h2> Manage Tenant</h2>

    </div>
</div>

<section class="main">
    <div class="form__col-wrap">
        <div class="form__col form__col--second">
            <div class="card2 js-modal" data-modal="#innerModal">
                <!-- <button type="button" data-modal="#innerModal"
                    class="js-modal button button--medium button--icon button--theme02">
                    <svg class="icon icon--theme01 icon--add" aria-labelledby="title-5f83f10fae696"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                        <path fill="none" d="M0 0h48v48H0z"></path>
                        <path d="M28 36v12h-8V28a8 8 0 00-8-8 16 16 0 0116 16z" fill="currentColor"
                            class="icon__color--primary">
                        </path>
                        <path d="M20 28H0v-8h12a8 8 0 018 8z" fill="currentColor" class="icon__color--secondary"></path>
                        <path d="M20 12V0h8v20a8 8 0 008 8 16 16 0 01-16-16z" fill="currentColor"
                            class="icon__color--primary">
                        </path>
                        <path d="M28 20h20v8H36a8 8 0 01-8-8z" fill="currentColor" class="icon__color--secondary">
                        </path>
                    </svg>
                </button> -->
                <div class="add--tenant">
                    <div class="Add_Icon">
                        <div class="icons__item--theme11">
                            <svg class="icon icon--theme01 icon--add" aria-labelledby="title-5fc489b8acf9c"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
                                <path fill="none" d="M0 0h48v48H0z"></path>
                                <path d="M28 36v12h-8V28a8 8 0 00-8-8 16 16 0 0116 16z" fill="currentColor"
                                    class="icon__color--secondary"></path>
                                <path d="M20 28H0v-8h12a8 8 0 018 8z" fill="currentColor"
                                    class="icon__color--secondary">
                                </path>
                                <path d="M20 12V0h8v20a8 8 0 008 8 16 16 0 01-16-16z" fill="currentColor"
                                    class="icon__color--secondary"></path>
                                <path d="M28 20h20v8H36a8 8 0 01-8-8z" fill="currentColor"
                                    class="icon__color--secondary">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <h1> Add Tenant </h1>
                </div>
            </div>
        </div>
        <ng-container *ngFor="let item of Tenants">
            <div class="form__col form__col--second">
                <div class="card1 icons icons--horziontal icons--size01">
                    <div class="card-header1" id="header">
                        <h2>{{item.name}}</h2>
                    </div>
                    <div>
                        <p>
                            This Tenants has been created by {{item.firstName}} <br />
                            On : {{item.createdOn | date}} <br />


                            <strong>Owner:</strong> <span> {{item.firstName}} </span>
                            <!-- This Tenants has been created by {{item.firstName}} on {{item.createdOn | date}} -->
                        </p>
                    </div>
                    <div id="btn1">
                        <button class="button button--medium " (click)="SelectedTenant(item)">Manage</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="form__col form__col--second"></div>
        <div class="form__col form__col--second"></div>
    </div>

</section>

<div class="actions" *ngIf="AssigendTenants!=undefined&&AssigendTenants.length>0">
    <div class="actions__title">
        <h2> Assign Tenant</h2>

    </div>
</div>
<section class="main">
    <div class="form__col-wrap">
        <ng-container *ngFor="let item of AssigendTenants">
            <div class="form__col form__col--second">
                <div class="card1 icons icons--horziontal icons--size01" role="listitem">
                    <div class="card-header1" id="header">
                        <h2>{{item.name}}</h2>

                    </div>
                    <div>
                        <p>
                            This Tenants has been created by {{item.firstName}} <br />
                            On : {{item.createdOn | date}} <br />
                            <strong>Owner:</strong> <span> {{item.firstName}} </span>

                        </p>
                    </div>
                    <div id="btn1">
                        <button class="button button--medium " (click)="SelectedTenant(item)">Manage</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="form__col form__col--second"></div>
        <div class="form__col form__col--second"></div>
    </div>

</section>

<div id="innerModal" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description" tabindex="-1"
    hidden="">
    <div class="invModal__head">
        <h2 class="invModal__title">Add New Tenant</h2>
        <span class="invModal__control">
            <div class="tooltip" title="Example text here"><svg
                    class="icon-simple icon-simple--theme01 icon-simple--info" aria-labelledby="title-5f9fa44f5f1a1"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
                    <g data-name="Group 748" fill="currentColor">
                        <path data-name="Path 435"
                            d="M6 11.998a6 6 0 116-6 6.007 6.007 0 01-6 6zM6 .683a5.316 5.316 0 105.317 5.315A5.322 5.322 0 006 .684z">
                        </path>
                        <path data-name="Path 436"
                            d="M5.4 3.375a.573.573 0 01.15-.423.593.593 0 01.43-.147.58.58 0 01.421.147.568.568 0 01.15.423.556.556 0 01-.15.412.57.57 0 01-.421.151.583.583 0 01-.43-.151.56.56 0 01-.15-.412zm1.086 6.1H5.461V4.654h1.025z">
                        </path>
                    </g>
                </svg></div>
        </span>
    </div>
    <div class="invModal__body">
        <form class="form" [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <div class="form__section">
                <div class="form__col-wrap">
                    <div class="form__col form__col--half"
                        [ngClass]="{ 'form__col--error': submitted && f.name.errors}">
                        <label class="form__label" for="filled-name">Tenant Name <span
                                class="form__required">*</span></label>
                        <input class="form__input" type="text" id="filled-name" formControlName="name"
                            name="nameFormcontrol" required>
                        <ng-container *ngIf="submitted && f.name.errors"> <span *ngIf="f.name.errors.required"
                                class="form__error-message">This field is
                                required</span></ng-container>
                        <div class="tooltip" title="Example text here"><svg
                                class="icon-simple icon-simple--theme01 icon-simple--info"
                                aria-labelledby="title-5f9fa44f5f1ac" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 12 12" width="12" height="12">
                                <g data-name="Group 748" fill="currentColor">
                                    <path data-name="Path 435"
                                        d="M6 11.998a6 6 0 116-6 6.007 6.007 0 01-6 6zM6 .683a5.316 5.316 0 105.317 5.315A5.322 5.322 0 006 .684z">
                                    </path>
                                    <path data-name="Path 436"
                                        d="M5.4 3.375a.573.573 0 01.15-.423.593.593 0 01.43-.147.58.58 0 01.421.147.568.568 0 01.15.423.556.556 0 01-.15.412.57.57 0 01-.421.151.583.583 0 01-.43-.151.56.56 0 01-.15-.412zm1.086 6.1H5.461V4.654h1.025z">
                                    </path>
                                </g>
                            </svg></div>
                    </div>
                </div>
            </div>

            <div class="button-group">
                <button type="submit" class="button button--medium">Add</button>
                <button type="button" class="button button--medium button--text-only" (click)="onReset()"
                    data-close="#innerModal" id="CloseBtn">Cancel
                </button></div>

        </form>
    </div>
</div>
<ngx-spinner></ngx-spinner>