.Add_Icon {
    border: 1px solid #2de29d;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #2de29d;
    margin: 0 auto;
    margin-bottom: 10px;
}
.add--image {
    text-align: center;
    padding: 48px;
}
.UploadImageCard {
    box-shadow: 0 0 7px #d6d6d6;
}