
.exapandmenurow{
    height: auto;
    max-height: 200px;
}

 textarea {
    height: 4rem;
}

.mt-15{
    margin-top: 15px;
}

.invModal__body {
    height: 60vh;
    overflow: auto;
    padding: 1rem 3.75rem;
}
.invModal__footer {
    padding: 0 4.75rem;
}
.button-group {
  justify-content: left;
}
