.button-group {
  display: flex;
  justify-content: space-between;
  padding: 1rem .5rem;
  .form & {
    justify-content: flex-start;
  }
}
.button-group--stacked {
  flex-direction: column;
}
.button {
  background-color: $clearly-blue;
  border: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin-right: 1rem;
  text-align: center;
  transition-duration: 150ms;
  transition-property: background, box-shadow;
  transition-timing-function: ease;
  &:hover {
    background-color: $clearly-blue-hover;
  }
  &:active {
    box-shadow: 0 3px 6px $black--40;
  }
  &:last-child {
    margin-right: 0;
  }
  .button-group--stacked & {
    text-align: left;
  }
}
.button--theme02 {
  background-color: $soft-green;
  &:hover {
    background-color: $soft-green-hover;
  }
}
.button--text-only {
  background-color: transparent;
  color: $clearly-blue;
  &:hover {
    background-color: $white;
  }
  &.button--theme02 {
    color: $soft-green;
  }
}
.button--outline {
  background-color: transparent;
  border: 1px solid $clearly-blue;
  color: $clearly-blue;
  &:hover {
    background-color: $white;
  }
  &.button--theme02 {
    border-color: $soft-green;
    color: $soft-green;
  }
}
.button--icon {
  align-items: center;
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  .icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .icon__color--primary {
    color: $white;
  }
  .icon__color--secondary {
    color: $white--80;
  }
}
.button--large {
  border-radius: 1.5rem;
  font-size: 18px;
  padding: .75rem 1.5rem;
  &.button--icon {
    padding-left: 2rem;
  }
  .icon {
    margin-right: .5rem;
  }
}
.button--medium {
  border-radius: 1rem;
  font-size: 16px;
  padding: .5rem 1.125rem;
  &.button--icon {
    border-radius: 1.5rem;
    font-size: 18px;
    padding-bottom: .75rem;
    padding-top: .75rem;
  }
  .icon {
    margin-right: .5rem;
  }
}
.button--small {
  border-radius: .75rem;
  font-size: 12px;
  padding: .25rem .75rem;
}
