.exapandmenurow{
    height: auto;
    max-height: 1000px;
}
.ExpandedRowWithForm{
    height: auto;
    max-height: 1000px;
}
.form__section {
    margin-top: 2rem;
}.card {
    background-color: #e8f7ff;
    padding: 20px 18px;
    border-radius: 12px;
    font-size: 1rem;
}