.actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}
.actions__title {
  align-items: center;
  display: flex;
  h1 {
    color: $dark;
  }
  .icons {
    margin-left: .5rem;
  }
}
.actions__wrap {
  display: flex;
  .icons__item {
    &:nth-last-child(2) {
      border-right: 2px solid #d3dbe2;
      padding-right: 2rem;
    }
  }
}
