<!-- <link rel="stylesheet"
    href="https://demos.creative-tim.com/argon-design-system/assets/css/argon-design-system.min.css?v=1.2.2"> -->
<ng-container style="background-color: white;"
    *ngIf="IsDynamicEventOpen!=undefined&&item!=undefined&&CustomFields!=undefined&&DynamicEvent!=undefined">
    <div class="action action--add" [ngClass]="{'action--is-active': IsDynamicEventOpen}">
        <button *ngIf="IsDynamicEventOpen"
            class="icons__item icons__item--theme02 icons__item--clone icons__item--is-active"
            style="top: 0px; left: 275px;">

            <ng-container *ngIf="DynamicEvent.eventIcon==1">

                <ng-container *ngTemplateOutlet="addIcon">
                </ng-container>

            </ng-container>
            <ng-container *ngIf="DynamicEvent.eventIcon==2">

                <ng-container *ngTemplateOutlet="removeIcon">
                </ng-container>

            </ng-container>
            <ng-container *ngIf="DynamicEvent.eventIcon==3">

                <ng-container *ngTemplateOutlet="moveIcon">
                </ng-container>

            </ng-container>
            <ng-container *ngIf="DynamicEvent.eventIcon==4">

                <ng-container *ngTemplateOutlet="adjustIcon">
                </ng-container>


            </ng-container>
            <ng-container *ngIf="DynamicEvent.eventIcon==5">


                <ng-container *ngTemplateOutlet="statusIcon">
                </ng-container>


            </ng-container>
            <ng-container *ngIf="DynamicEvent.eventIcon==8">

                <ng-container *ngTemplateOutlet="convertIcon">
                </ng-container>


            </ng-container>
            <ng-container *ngIf="DynamicEvent.eventIcon==7">

                <ng-container *ngTemplateOutlet="movechangeIcon">
                </ng-container>

            </ng-container>

            <span class="icons__label">{{DynamicEvent.eventName}}</span>
        </button>


        <!-- <div *ngIf="isDataLoaded">
            <formio [form]="currentData" (submit)="onSubmit($event)">
            </formio>
        </div> -->



        <form class="action__wrap form" #f="ngForm">
            <div class="form__section">
                <h2 class="form__section-title">{{DynamicEvent.eventName}} this QTY...</h2>
                <div class="form__col-wrap">
                    <div class="form__col form__col--third">
                        <label class="form__label" for="quantity_add">Quantity<span
                                class="form__required">*</span></label>
                        <input class="form__input" type="number" id="quantity_add"
                            [(ngModel)]="InventoryTransactionObj.transactionQty" required name="quantity_add">
                    </div>

                </div>
            </div>
            <ng-container *ngIf="DynamicEvent.islocationRequired">
                <div class="form__section">
                    <h2 class="form__section-title">To this Location ...</h2>
                    <div class="form__col-wrap">
                        <div class="form__col form__col--third">
                            <label class="" for="location_move">Location<span class="form__required">*</span></label>
                            <ng-autocomplete [data]="data" [searchKeyword]="Locationkeyword"
                                (selected)='selectLocationEvent($event)' id="location_move" name="location_move"
                                (inputChanged)='getLocation($event)' [debounceTime]="300" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate" disableCloseOnSelect="true"
                                [isLoading]="isLoadingResult" (inputCleared)="searchCleared()">
                            </ng-autocomplete>

                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.locationName"></a>

                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <a [innerHTML]="notFound"></a>
                            </ng-template>
                        </div>

                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="DynamicEvent.isUOMRequired">
                <div class="form__section">
                    <h2 class="form__section-title">Into this QTY of this UOM...</h2>
                    <div class="form__col-wrap">
                        <div class="form__col form__col--third">
                            <label class="form__label" for="location_convert">New Qty<span
                                    class="form__required">*</span></label>
                            <input class="form__input" type="number" id="location_convert"
                                [(ngModel)]="TransactionTargetObj.ToConvertedQuantity" name="location_convert" required>
                        </div>
                        <div class="form__col form__col--third">
                            <!-- <button type="button" data-modal="#AddUOMinnerModal"
                                    class="invModal__control addLibrary js-modal">Add New UOM</button> -->

                            <label class="form__label" for="Uom_convert">New UOM <span
                                    class="form__required">*</span></label>
                            <select class="form__input form__select" id="Uom_convert" name="Uom_convert"
                                [(ngModel)]="TransactionTargetObj.ToUomId" required>
                                <option value=""></option>
                                <option *ngFor="let option of UomList" [value]="option.uomId">{{option.uomName}}
                                </option>
                            </select>
                        </div>
                        <div class="form__col form__col--third">

                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="form__section">
                <h2 class="form__section-title">Under these Custom Field
                    <!-- <button type="button" class="invModal__control" (click)="AddCustomModal()">Add New Custom
                        Field</button> -->
                </h2>



                <div class="form__col-wrap">
                    <div class="form__col form__col--third">
                        <label class="form__label" for="event-date_add_{{item.inventoryId}}">Event
                            Date<span class="form__required">*</span></label>
                        <input class="form__input" [owlDateTimeTrigger]="dt1" placeholder="Select Date"
                            id="event-date_add_{{item.inventoryId}}" name="event-date_add_{{item.inventoryId}}"
                            [(ngModel)]="today" [owlDateTime]="dt1">
                        <owl-date-time [pickerType]="'calendar'" #dt1>
                        </owl-date-time>
                    </div>


                    <ng-container *ngFor="let field of CustomFields">
                        <div class="form__col form__col--third"
                            [ngClass]="field.customFieldSpecialType=='Currency'?'currencyfield':''||field.dataType=='True/False'?'form__col--group':''"
                            *ngIf="field.customFieldIncludeOnDynamicEvent">

                            <label class="form__label" *ngIf="field.dataType!='True/False'"
                                for="Circustance_{{field.columnId}}"
                                [ngClass]="[field.customFieldPrefix.length=='1' ? 'prefixLabel':''||field.customFieldPrefix.length=='2' ? 'prefixLabel1':''||field.customFieldPrefix.length=='3' ? 'prefixLabel2':''||field.customFieldPrefix.length>='4' ? 'prefixLabel3':'']">{{
                                (field.columnLabel.length>5)? (field.columnLabel |
                                slice:0:9)+'...':(field.columnLabel)}}<span *ngIf="field.customFieldIsRequired"
                                    class="form__required">*</span></label>
                            <span class="form__group-outer-label" *ngIf="field.dataType=='True/False'">{{
                                (field.columnLabel.length>5)? (field.columnLabel |
                                slice:0:5)+'...':(field.columnLabel)}}
                                :</span>

                            <ng-container *ngIf="field.dataType=='Text'">

                                <ng-container *ngIf="field.customFieldSpecialType=='Autocomplete'">
                                    <ng-autocomplete [data]="ComboValueDropdown(field.comboBoxValue)"
                                        [searchKeyword]="keyword" (selected)='selectEvent($event)' [debounceTime]="600"
                                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                                    <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item"></a>
                                    </ng-template>
                                </ng-container>

                                <ng-container *ngIf="field.customFieldSpecialType=='Dropdown'">

                                    <!-- <select class="form__input form__select" id="Circustance_{{field.columnId}}"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue" required>
                                        <option value=""></option>
                                        <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                            {{opt}}
                                        </option>
                                    </select> -->


                                    <select class="floating-select" id="Circustance_{{field.columnId}}"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        required="required">
                                        <option value=""></option>
                                        <option *ngFor="let value of field.comboBoxArray" [value]="value.value">
                                            {{value.label}}
                                        </option>
                                    </select>

                                </ng-container>

                                <ng-container *ngIf="field.customFieldSpecialType=='OpenField'">
                                    <ng-container *ngIf="field.customFieldSuffix||field.customFieldPrefix"
                                        class="input-group">
                                        <span *ngIf="field.customFieldPrefix" class="input-group-addon text Prefix"
                                            [popper]="popper13Content" [popperTrigger]="'hover'"
                                            [popperPlacement]="'bottom'">{{(field.customFieldPrefix.length>3)?
                                            (field.customFieldPrefix |
                                            slice:0:3)+'...':(field.customFieldPrefix)}}</span>
                                        <popper-content #popper13Content>
                                            <p class="popperTitle"><b>{{field.customFieldPrefix}}</b></p>
                                        </popper-content>
                                        <input type="text" [required]="field.customFieldIsRequired"
                                            id="Circustance_{{field.columnId}}"
                                            [ngClass]="[field.customFieldPrefix.length=='1' ? 'Addon':''||field.customFieldPrefix.length=='2'?'Addon1':''||field.customFieldPrefix.length=='3'?'Addon2':''||field.customFieldPrefix.length>='4'?'Addon3':'']"
                                            name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                            class="form__input">
                                        <span *ngIf="field.customFieldSuffix"
                                            class="input-group-addon text Suffix">{{field.customFieldSuffix}}</span>
                                    </ng-container>
                                    <ng-container *ngIf="!field.customFieldSuffix&&!field.customFieldPrefix">
                                        <input type="text" [required]="field.customFieldIsRequired"
                                            id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                            [(ngModel)]="field.columnValue" class="form__input">
                                    </ng-container>

                                </ng-container>

                                <ng-container *ngIf="field.customFieldSpecialType==''">

                                    <input type="text" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                        [(ngModel)]="field.columnValue" class="form__input">

                                </ng-container>

                            </ng-container>
                            <ng-container *ngIf="field.dataType=='Number'">

                                <ng-container *ngIf="field.customFieldSpecialType=='Number'">
                                    <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                        [(ngModel)]="field.columnValue" class="form__input">
                                </ng-container>
                                <ng-container *ngIf="field.customFieldSpecialType=='Currency'" class="input-group">
                                    <span class="input-group-addon text">$</span>
                                    <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                        [(ngModel)]="field.columnValue" class="form__input">
                                </ng-container>

                                <ng-container *ngIf="field.customFieldSpecialType==''">
                                    <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                        [(ngModel)]="field.columnValue" class="form__input">
                                </ng-container>



                            </ng-container>
                            <ng-container *ngIf="field.dataType=='Date/Time'">
                                <ng-container
                                    *ngIf="field.customFieldSpecialType=='Date'||field.customFieldSpecialType==''">
                                    <input class="form__input" [owlDateTimeTrigger]="dt1" placeholder="Select Date"
                                        id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                        [required]="field.customFieldIsRequired" [(ngModel)]="field.columnValue"
                                        [owlDateTime]="dt1">
                                    <owl-date-time [pickerType]="'calendar'" #dt1>
                                    </owl-date-time>
                                </ng-container>
                                <ng-container *ngIf="field.customFieldSpecialType=='Date & Time'">
                                    <input class="form__input" [owlDateTimeTrigger]="dt1"
                                        [required]="field.customFieldIsRequired" id="Circustance_{{field.columnId}}"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        [owlDateTime]="dt1">
                                    <owl-date-time #dt1>
                                    </owl-date-time>
                                </ng-container>
                                <ng-container *ngIf="field.customFieldSpecialType=='Time'">
                                    <input [owlDateTimeTrigger]="dt4" class="form__input"
                                        placeholder="select Date andTime" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                        [(ngModel)]="field.columnValue" [owlDateTime]="dt4">
                                    <owl-date-time [pickerType]="'timer'" #dt4>
                                    </owl-date-time>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="field.dataType=='True/False'">
                                <div class="form__group form__group--radio">
                                    <input id="Circustance_{{field.columnId}}_1" [(ngModel)]="field.columnValue"
                                        class="form__radio" type="radio" value="{{field.customFieldFalseLabel}}"
                                        name="radio200_{{field.columnId}}">
                                    <label class="form__group-label"
                                        for="Circustance_{{field.columnId}}_1">{{field.customFieldFalseLabel}}</label>
                                </div>
                                <div class="form__group form__group--radio">
                                    <input [(ngModel)]="field.columnValue" value="{{field.customFieldTrueLabel}}"
                                        id="Circustance_{{field.columnId}}_2" class="form__radio" type="radio"
                                        name="radio200_{{field.columnId}}">
                                    <label class="form__group-label"
                                        for="Circustance_{{field.columnId}}_2">{{field.customFieldTrueLabel}}</label>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <div class=" form__col form__col--third">
                    </div>
                    <div class="form__col form__col--third">
                    </div>
                </div>

            </div>
            <div class="button-group">
                <button type="submit" [disabled]="!f.form.valid" class="button button--medium"
                    (click)="AddEventSubmit()" href=" #">Save</button>
                <button type="button" class="button button--medium button--text-only js-trigger"
                    (click)="EventAction(item)" data-trigger=".table__button-group .icons__item.is-active">Cancel
                </button>
            </div>
        </form>


        <button class="action__close js-trigger icons--size02"
            data-trigger=".table__button-group .icons__item.is-active" type="button">
            Back to Event Menu
        </button>
        <!-- <app-add-uom-modal (RefreshUom)="getUOMList()"></app-add-uom-modal> -->
    </div>
    <app-add-custom-field *ngIf="AddCustomForm"></app-add-custom-field>
    <!-- <app-uom-library (RefreshUom)="getUOMList()"><app-uom-library> -->
</ng-container>

<ng-template #addIcon>
    <div class="icons__item icons__item--theme02">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--add" aria-labelledby="title-602e34ed70cc2"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M0 0h48v48H0z"></path>
                <path d="M28 36v12h-8V28a8 8 0 00-8-8 16 16 0 0116 16z" fill="currentColor"
                    class="icon__color--primary">
                </path>
                <path d="M20 28H0v-8h12a8 8 0 018 8z" fill="currentColor" class="icon__color--secondary"></path>
                <path d="M20 12V0h8v20a8 8 0 008 8 16 16 0 01-16-16z" fill="currentColor" class="icon__color--primary">
                </path>
                <path d="M28 20h20v8H36a8 8 0 01-8-8z" fill="currentColor" class="icon__color--secondary"></path>
            </svg></div>
    </div>
</ng-template>

<ng-template #removeIcon>
    <div class="icons__item icons__item--theme03">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--remove" aria-labelledby="title-602e2d746228e"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M0 0h48v48H0z"></path>
                <path d="M12.7 18.3L4.2 9.9l5.7-5.7L24 18.3a7.9 7.9 0 0011.3 0 15.9 15.9 0 01-22.6 0z"
                    fill="currentColor" class="icon__color--primary"></path>
                <path class="icon__color--secondary" d="M24 18.3L38.1 4.2l5.7 5.7-8.5 8.4a7.9 7.9 0 01-11.3 0z"
                    fill="currentColor"></path>
                <path class="icon__color--primary"
                    d="M35.3 28.9l8.5 8.5-5.7 5.6L24 28.9a8 8 0 00-11.3 0 15.9 15.9 0 0122.6 0z" fill="currentColor">
                </path>
                <path class="icon__color--secondary" d="M24 28.9L9.9 43l-5.7-5.6 8.5-8.5a8 8 0 0111.3 0z"
                    fill="currentColor">
                </path>
            </svg></div>
    </div>
</ng-template>

<ng-template #moveIcon>
    <div class="icons__item icons__item--theme04">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--move" aria-labelledby="title-602e34ed70cdc"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path d="M48 48V0H0v48z" fill="none"></path>
                <path
                    d="M43.9 21.8l-8-8a6 6 0 011.3 6.5 5.7 5.7 0 01-3 3.1 5.1 5.1 0 01-2.5.6H4v8h35.7a6 6 0 004.2-10.2z"
                    fill="currentColor" class="icon__color--primary"></path>
                <path d="M35.9 13.8l-8.4-8.4-5.6 5.6 12.3 12.4a5.7 5.7 0 003-3.1 6 6 0 00-1.3-6.5z" fill="currentColor"
                    class="icon__color--secondary"></path>
            </svg></div>
    </div>
</ng-template>


<ng-template #changeIcon>
    <div class="icons__item icons__item--theme05">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--change" aria-labelledby="title-602e34ed70ce5"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M48 0v48H0V0z"></path>
                <path d="M0 48h48V0H0z" fill="none"></path>
                <path d="M22 18V4H10a6 6 0 00-6 6v28a6 6 0 006 6h12V30l6-6z" fill="currentColor"
                    class="icon__color--primary">
                </path>
                <path d="M38 38a6 6 0 01-6 6h-6v-6zm0-28a6 6 0 00-6-6h-6v6z" fill="currentColor"
                    class="icon__color--secondary">
                </path>
                <path d="M38 4h-6a6 6 0 016 6v28a6 6 0 01-6 6h6a6 6 0 006-6V10a6 6 0 00-6-6z" fill="currentColor"
                    class="icon__color--primary"></path>
            </svg></div>
    </div>
</ng-template>

<ng-template #movechangeIcon>
    <div class="icons__item icons__item--theme06">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--move-change" aria-labelledby="title-602e34ed70cee"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M0 0h48v48H0z"></path>
                <path d="M7 28h15v20H7a3 3 0 01-3-3V31a3 3 0 013-3z" fill="currentColor" class="icon__color--primary">
                </path>
                <path d="M38 42a6 6 0 01-6 6h-6v-6zm0-8H26v-6h6a6 6 0 016 6z" fill="currentColor"
                    class="icon__color--secondary"></path>
                <path
                    d="M38 28h-6a6 6 0 016 6v8a6 6 0 01-6 6h6a6 6 0 006-6v-8a6 6 0 00-6-6zm3.9-14.2l-8-8a6 6 0 011.3 6.5 5.7 5.7 0 01-3 3.1 5.1 5.1 0 01-2.5.6H4v8h33.7a6 6 0 004.2-10.2z"
                    fill="currentColor" class="icon__color--primary"></path>
                <path d="M33.9 5.8l-4.1-4.2-5.7 5.7 8.1 8.1a5.7 5.7 0 003-3.1 6 6 0 00-1.3-6.5z" fill="currentColor"
                    class="icon__color--secondary"></path>
            </svg></div>
    </div>
</ng-template>
<ng-template #adjustIcon>
    <div class="icons__item icons__item--theme07">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--adjust" aria-labelledby="title-602e34ed70dbd"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="currentColor" class="icon__color--primary" d="M6 36h36v8H6z"></path>
                <path d="M12 23.2a8 8 0 00-2.1 7.7 7.9 7.9 0 007.7-2 8.1 8.1 0 002.1-7.8 8 8 0 00-7.7 2.1z"
                    fill="currentColor" class="icon__color--secondary"></path>
                <path d="M17.6 17.6L12 23.2l5.6 5.7a8 8 0 010-11.3z" fill="currentColor" class="icon__color--secondary">
                </path>
                <path
                    d="M28.9 6.2L17.6 17.6a8 8 0 000 11.3l17-17zm5.075-3.486l4.242 4.243a1 1 0 010 1.414l-2.121 2.122-5.657-5.657 2.122-2.122a1 1 0 011.414 0z"
                    fill="currentColor" class="icon__color--primary"></path>
                <path fill="none" d="M48 0v48H0V0z"></path>
                <path d="M0 48h48V0H0z" fill="none"></path>
            </svg></div>
    </div>
</ng-template>

<ng-template #statusIcon>
    <div class="icons__item icons__item--theme08">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--status" aria-labelledby="title-602e34ed70dc9"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M48 0v48H0V0z"></path>
                <path d="M48 0H0v48h48z" fill="none"></path>
                <rect x="21" y="28" width="6" height="6" rx="1.5" transform="rotate(-180 24 31)" fill="currentColor"
                    class="icon__color--secondary"></rect>
                <path
                    d="M28 6v6.7a22.8 22.8 0 01-.2 2.6L26.3 24a2.3 2.3 0 01-2.3 2 2.3 2.3 0 01-2.3-2l-1.5-8.7a22.8 22.8 0 01-.2-2.6V6a2 2 0 012-2h4a2 2 0 012 2z"
                    fill="currentColor" class="icon__color--secondary"></path>
                <path d="M10 38V4H4v34a6 6 0 006 6h6a6 6 0 01-6-6zM38 4h6v28a6 6 0 01-6 6z" fill="currentColor"
                    class="icon__color--primary"></path>
                <path d="M44 32v6a6 6 0 01-6 6H16a6 6 0 01-6-6h28a6 6 0 006-6z" fill="currentColor"
                    class="icon__color--secondary"></path>
            </svg></div>
    </div>
</ng-template>

<ng-template #convertIcon>
    <div class="icons__item icons__item--theme09">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--convert" aria-labelledby="title-602e34ed70dd2"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M48 0v48H0V0z"></path>
                <circle cx="24" cy="36.1" r="7.4" fill="currentColor" class="icon__color--primary"></circle>
                <circle cx="40.6" cy="11.4" r="4.9" fill="currentColor" class="icon__color--secondary"></circle>
                <circle cx="7.4" cy="11.4" r="4.9" fill="currentColor" class="icon__color--secondary"></circle>
                <circle cx="24" cy="18.8" r="4.9" fill="currentColor" class="icon__color--secondary"></circle>
            </svg></div>
    </div>
</ng-template>

<ngx-spinner></ngx-spinner>