<div class="actions">
    <div class="actions__title ">
        <h1><b>Configuration Summary</b> </h1>
    </div>
</div>
<section class="main">
    <div class="form__col-wrap">
        <div class="form__col form__col--third">
            <div class="card1 icons icons--horziontal icons--size01" role="listitem">
                <div class="card-header1" id="header">
                    <h2><strong>Manage Features</strong></h2>
                </div>
                <div class="card-body">
                    <div class="card7 icons icons--horziontal icons--size01" role="listitem">
                        <div class="form__col-wrap">
                            <div class="form__col--two-third" style="width: 180px;">
                                <p>Restocking</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="Features.restocking"
                                        (ngModelChange)="saveConfigration()">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card7 icons icons--horziontal icons--size01" role="listitem">
                        <div class="form__col-wrap">
                            <div class="form__col--two-third" style="width: 180px;">
                                <p>Cost Tracking</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="Features.costTracking"
                                        (ngModelChange)="saveConfigration()">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card7 icons icons--horziontal icons--size01" role="listitem">
                        <div class="form__col-wrap">
                            <div class="form__col--two-third" style="width: 180px;">
                                <p>Component List/Kitting</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="Features.componentList"
                                        (ngModelChange)="saveConfigration()">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card7 icons icons--horziontal icons--size01" role="listitem">
                        <div class="form__col-wrap">
                            <div style="width: 180px;" class="form__col--two-third">
                                <p>Automated Items</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="Features.automatedItems"
                                        (ngModelChange)="saveConfigration()">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form__col form__col--two-third">
            <div class="card1 icons icons--horziontal icons--size01" role="listitem">
                <div class="card-header1" id="header" style="margin-left: -160px;">
                    <h2><strong>Manage Settings</strong></h2>
                </div>
                <hr>
                <div class="card-body" style="margin-left: -160px;">
                    <div class="card2 icons icons--horziontal icons--size01" role="listitem">
                        <div class="form__col-wrap">
                            <div class="form__col--two-third" style="width: 414px;">
                                <p>Your TimeZone</p>
                            </div>
                            <div *ngIf="Edit" style="margin-left: -115px;">
                                <select class="floating-select" id="SelectTimeZone" name="SelectTimeZone">
                                    <option value="">Time Zone</option>
                                    <option></option>
                                </select>
                            </div>
                            <div style="margin-left: 407px;">
                                <button type="button" (click)="showTimeZone()"
                                    class="button button--medium">Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="form__col-wrap">
                            <div class="form__col--two-third">
                                <p>Automatically remove statements when the quantity reaches zero</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="Features.QuantityRechesZero"
                                        (ngModelChange)="saveConfigration()">

                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card2">
                        <div class="form__col-wrap">
                            <div>
                                <p>Allow moving, changing, converting, updating, or making of a component list
                                    to
                                    result
                                    in negative quantities.</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" (click)="selcted('negativeQuantity')">

                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div> -->
                    <div class="card2">
                        <div class="form__col-wrap">
                            <div class="form__col--two-third">
                                <p>All Event quantities will default to "1"</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="Features.defaultQuantity"
                                        (ngModelChange)="saveConfigration()">

                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="form__col-wrap">
                            <div class="form__col--two-third">
                                <p>Use color to indicate items approaching their "Low Quantity Threshold".</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="Features.LowQuantityThreshold"
                                        (ngModelChange)="saveConfigration()">

                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card2">
                        <div class="form__col-wrap">
                            <div class="form__col--two-third">
                                <p>Allow moving, changing, converting, updating, or making of a component list to result
                                    in negative quantities.</p>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" [(ngModel)]="Features.negativeQuantity"
                                        (ngModelChange)="saveConfigration()">

                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header1">
            <h2> <a routerLink="/CustomField">Manage CustomField</a> </h2>
        </div>
        <div>
            <table>
                <tr>
                    <th>Custom Name</th>
                    <th>Data Type</th>

                </tr>
                <tr *ngFor="let item of CustomFields">
                    <td>{{item.columnLabel}}</td>
                    <td>{{item.dataType}},{{item.customFieldSpecialType}}</td>

                </tr>
            </table>
            <div>
                Showing 0 to {{length}} of {{length}} entries
            </div>
        </div>
    </div>
    <div class="card" style="margin-top: 38px;">
        <div class="card-header1">
            <h2> <a routerLink="/AttributeField">Manage Attributes</a> </h2>
        </div>
        <div>
            <table>
                <tr>
                    <th>Attribute Name</th>
                    <th>Data Type</th>

                </tr>
                <tr *ngFor="let item of AttributeFields">
                    <td>{{item.columnLabel}}</td>
                    <td>{{item.dataType}},{{item.customFieldSpecialType}}</td>

                </tr>

            </table>
            <div>
                Showing 0 to {{length1}} of {{length1}} entries
            </div>
        </div>
    </div>


    <div class="form__col-wrap">
        <div class="form__col form__col--two-third" style="padding: 27px; padding-left: 8px;">
            <h2><strong>System Term Customization</strong> <span style="margin-left: 10px;"></span>
            </h2>

            <div class="form__col-wrap">
                <ng-container *ngFor="let column of MyInventoryFieldColumn;let i=index">
                    <ng-container *ngIf="column.customeFieldType==''||column.columnName=='quantity'">

                        <div class="form__col form__col--third">
                            <label class="form__label" for="ID_{{column.columnId}}">
                                <container-element [ngSwitch]="column.columnName">
                                    <some-element *ngSwitchCase="'partName'">Item Name</some-element>
                                    <some-element *ngSwitchCase="'partDescription'">Description</some-element>
                                    <some-element *ngSwitchCase="'uomName'">Unit of Measure</some-element>
                                    <some-element *ngSwitchCase="'quantity'">Quantity</some-element>
                                    <some-element *ngSwitchCase="'locationName'">Location</some-element>
                                </container-element>
                            </label>
                            <input class="form__input" (ngModelChange)="SaveMyInventoryColumn(column,$event)"
                                [(ngModel)]="column.columnLabel" type="text" id="ID_{{column.columnId}}"
                                name="ID_{{column.columnId}}" required>
                            <div class="icon-container" *ngIf="column.isChanging">
                                <i class="loader"></i>
                            </div>
                        </div>


                    </ng-container>

                </ng-container>
                <div class="form__col form__col--third"></div>

                <div class="form__col form__col--second">
                </div>

            </div>
        </div>
        <div class="form__col form__col--third">

        </div>
    </div>
</section>