.card
{
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: justify;
    text-decoration: none;
    line-height: 32px;
    box-sizing: content-box;
    margin:10px;
}
.card2:hover{
    background: #fff;
    -webkit-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
-moz-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
}
.card7:hover{
    background: #fff;
    -webkit-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
-moz-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);

}
.card1
{

    width: 665px;

    text-align: justify;
    text-decoration: none;
    line-height: 32px;
    box-sizing: content-box;
    margin:10px;
}
.card2
{
    
    width: 912px;

    text-align: justify;
    text-decoration: none;
    line-height: 32px;
    box-sizing: content-box;
    margin:10px;
    border-bottom: 1px solid #ccc;

}
.card7
{
    text-align: justify;
    text-decoration: none;
    line-height: 32px;
    box-sizing: content-box;
    margin:10px;
    border-bottom: 1px solid #ccc;
}


.card:hover{
    background: #fff;
    -webkit-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
-moz-box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
box-shadow: 10px 10px 31px 0px rgba(197,223,237,1);
border-bottom: 0px;
}
.manageButton
{
    padding: 60px 0px 0px 10px;
      cursor: pointer;
}
 .card-header1 {
    padding: .75rem 0.25rem;
    margin-bottom: 0;
   width: 100%;
}

.form__col--second {
    width: 673px !important;
}
#btn1 {
    width: 100%;
    text-align: right;
}
.Add_Icon {
    border: 1px solid #2de29d;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    background: #2de29d;
    margin: 0 auto;
    margin-bottom: 10px;
}
.add--tenant {
    text-align: center;
    padding: 48px;
}
// table {
//   border-collapse: collapse;
//   width: 100%;
// }

// th, td {
//   padding: 8px;
//   text-align: left;
//   border-bottom: 1px solid #ddd;
// }

// tr:hover {background-color:#f5f5f5;}
// .form__col-wrap {
//     flex-wrap: wrap;
//     padding: 10px;
// }
.icon-container {
  position: absolute;
  right: 10px;
  top: calc(30% - 10px);
}
.loader {
    border: 0px;
    border-top: 0px;
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loader::after, .loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #333 #333 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}
