<div class="action action--move" *ngIf="IsMoveEvent!=undefined&&item!=undefined&&CircumstanceFields!=undefined"
    [ngClass]="{'action--is-active': IsMoveEvent}">
    <button *ngIf="IsMoveEvent" class="icons__item icons__item--theme04 icons__item--clone icons__item--is-active"
        style="top: 0px; left: 275px;">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--move" aria-labelledby="title-5f83f4826a15a"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path d="M48 48V0H0v48z" fill="none"></path>
                <path
                    d="M43.9 21.8l-8-8a6 6 0 011.3 6.5 5.7 5.7 0 01-3 3.1 5.1 5.1 0 01-2.5.6H4v8h35.7a6 6 0 004.2-10.2z"
                    fill="currentColor" class="icon__color--primary"></path>
                <path d="M35.9 13.8l-8.4-8.4-5.6 5.6 12.3 12.4a5.7 5.7 0 003-3.1 6 6 0 00-1.3-6.5z" fill="currentColor"
                    class="icon__color--secondary"></path>
            </svg></div>
        <span class="icons__label">Move</span>
    </button>
    <form class="action__wrap form" [hidden]="success" #f="ngForm">
        <div class="form__section">
            <h2 class="form__section-title">Move this QTY...</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="quantity_move_{{item.inventoryId}}">Quantity<span
                            class="form__required">*</span></label>
                    <input class="form__input" type="number" id="quantity_move_{{item.inventoryId}}"
                        [(ngModel)]="InventoryTransactionObj.transactionQty" name="quantity_move_{{item.inventoryId}}"
                        required>
                </div>

            </div>
        </div>
        <div class="form__section">
            <h2 class="form__section-title">To this Location ...</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="" for="location_move">Location<span class="form__required">*</span></label>
                    <ng-autocomplete [data]="data" [searchKeyword]="Locationkeyword"
                        (selected)='selectLocationEvent($event)' id="location_move" name="location_move"
                        (inputChanged)='getLocation($event)' [debounceTime]="600" [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate" disableCloseOnSelect="true" [isLoading]="isLoadingResult"
                        (inputCleared)="searchCleared()">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.locationName"></a>

                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <a [innerHTML]="notFound"></a>
                    </ng-template>
                </div>

            </div>
        </div>




        <div class="form__section">
            <h2 class="form__section-title">Under these circumstances</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="event-date_move_{{item.inventoryId}}">Event
                        Date<span class="form__required">*</span></label>
                    <input type="date" class="form__input flatpickr" [ngModel]="today | date:'yyyy-MM-dd'"
                        id="event-date_move_{{item.inventoryId}}" name="event-date_move_{{item.inventoryId}}"
                        data-flatpickr-mode="single">
                </div>

                <ng-container *ngFor="let field of CircumstanceFields">
                    <div class="form__col form__col--third"
                        [ngClass]="field.customFieldSpecialType=='Currency'?'currencyfield':''||field.dataType=='True/False'?'form__col--group':''"
                        *ngIf="field.customFieldIncludeOnMove">

                        <label class="form__label" for="Circustance_{{field.columnId}}"
                            *ngIf="field.customFieldSpecialType!='Dropdown'&&field.dataType!='True/False'"
                            [ngClass]="[field.customFieldPrefix.length=='1' ? 'prefixLabel':''||field.customFieldPrefix.length=='2' ? 'prefixLabel1':''||field.customFieldPrefix.length=='3' ? 'prefixLabel2':''||field.customFieldPrefix.length>'4' ? 'prefixLabel3':'']">{{field.columnLabel}}<span
                                *ngIf="field.customFieldIsRequired" class="form__required">*</span></label>
                        <span class="form__group-outer-label" *ngIf="field.dataType=='True/False'">{{(field.columnLabel.length>6)? (field.columnLabel |
                                    slice:0:6)+'...':(field.columnLabel)}} :</span>
                        <ng-container *ngIf="field.dataType=='Text'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Autocomplete'">
                                <ng-autocomplete [data]="ComboValueDropdown(field.comboBoxValue)"
                                    [searchKeyword]="keyword" (selected)='selectEvent($event)' [debounceTime]="600"
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='Dropdown'">

                                <!-- <select class="form__input form__select" id="Circustance_{{field.columnId}}"
                                    name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue" required>
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select> -->
                                <select class="floating-select" id="Circustance_{{field.columnId}}"
                                    name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    required="required">
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='OpenField'">
                                <ng-container *ngIf="field.customFieldSuffix||field.customFieldPrefix"
                                    class="input-group">
                                    <span *ngIf="field.customFieldPrefix"
                                        class="input-group-addon text Prefix">{{field.customFieldPrefix}}</span>
                                    <input type="text" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}"
                                        [ngClass]="[field.customFieldPrefix.length=='1' ? 'Addon':''||field.customFieldPrefix.length=='2'?'Addon1':''||field.customFieldPrefix.length=='3'?'Addon2':''||field.customFieldPrefix.length>'4'?'Addon3':'']"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                    <span *ngIf="field.customFieldSuffix"
                                        class="input-group-addon text Suffix">{{field.customFieldSuffix}}</span>
                                </ng-container>
                                <ng-container *ngIf="!field.customFieldSuffix&&!field.customFieldPrefix">
                                    <input type="text" maxlength="{{field.customFieldTextMaxLength}}"
                                        [required]="field.customFieldIsRequired" id="Circustance_{{field.columnId}}"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                </ng-container>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">

                                <input type="text" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">

                            </ng-container>

                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Number'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Number'">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Currency'" class="input-group">
                                <span class="input-group-addon text">$</span>
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>



                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Date/Time'">
                            <ng-container
                                *ngIf="field.customFieldSpecialType=='Date'||field.customFieldSpecialType==''">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Date & Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="field.dataType=='True/False'">
                            <div class="form__group form__group--radio">
                                <input id="Circustance_{{field.columnId}}_1" [(ngModel)]="field.columnValue"
                                    class="form__radio" type="radio" value="{{field.customFieldFalseLabel}}"
                                    name="Circustance_{{field.columnId}}">
                                <label class="form__group-label" for="Circustance_{{field.columnId}}_1">{{(field.customFieldFalseLabel.length>5)? (field.customFieldFalseLabel |
                                        slice:0:5)+'...':(field.customFieldFalseLabel)}}</label>
                            </div>
                            <div class="form__group form__group--radio">
                                <input [(ngModel)]="field.columnValue" value="{{field.customFieldTrueLabel}}"
                                    id="Circustance_{{field.columnId}}_2" class="form__radio" type="radio"
                                    name="Circustance_{{field.columnId}}">
                                <label class="form__group-label" for="Circustance_{{field.columnId}}_2">{{(field.customFieldTrueLabel.length>5)? (field.customFieldTrueLabel |
                                        slice:0:5)+'...':(field.customFieldTrueLabel)}}</label>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>


                <div class="form__col form__col--third">
                </div>
                <div class="form__col form__col--third">
                </div>
            </div>


        </div>
        <div class="button-group">
            <button type="submit" class="button button--medium" [disabled]="!f.form.valid" class="button button--medium"
                (click)="MoveEventSubmit()">Save</button>
            <button type="button" class="button button--medium button--text-only js-trigger" (click)="EventAction(item)"
                data-trigger=".table__button-group .icons__item.is-active">Cancel
            </button></div>
    </form>
    <button class="action__close js-trigger icons--size02" data-trigger=".table__button-group .icons__item.is-active"
        type="button">
        Back to Event Menu
    </button>

</div>