/* div {
    height: 100%;
    padding: 0;
}

div .left {
    background-color: white;
}
div .right {
    background-color: #128ece;
} */
.auth-wrapper {
    margin-left: 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: calc(100vh - 60px);
}
.auth-wrapper .left-section .content-wrapper img {
    width: 400px;
}
.auth-wrapper .left-section .content-wrapper .info-title {
    font-size: 25px;
    font-weight: 600;
}
.auth-wrapper .left-section .content-wrapper .info-body {
    font-size: 20px;
}
.auth-wrapper .right-section {
    position: relative;
}
.auth-wrapper .right-section .logo {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
}
.auth-wrapper .right-section .logo img {
    width: 50px;
}
.auth-wrapper .right-section .auth-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    width: 50%;
    margin-left: 36%;
    min-height: 444px;
}
.auth-wrapper .right-section .page-title {
    color: #fff;
    margin-left: 55%;
    position: relative;
}
.auth-wrapper .shape {
    position: absolute;
    top: -90px;
    z-index: -1;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}
.auth-wrapper .shape:before {
    content: "";
    background: #069;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    right: -45%;
}
@media only screen and (max-width: 1125px) {
    .auth-wrapper {
        display: block;
   }
    .auth-wrapper .left-section {
        display: none;
   }
    .auth-wrapper .shape {
        top: 0;
        padding-bottom: 0;
        height: 100%;
   }
    .auth-wrapper .shape:before {
        right: 0;
        border-radius: 0;
   }
    .auth-wrapper .right-section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }
    .auth-wrapper .right-section .logo {
        top: 10px;
        left: 12px;
        transform: none;
   }
}
@media only screen and (max-width: 576px) {
    .auth-wrapper .right-section .auth-card {
        min-width: 200px;
   }
    .auth-wrapper .right-section .logo img {
        width: 100px;
   }
}

.form__input {
    border-color: rgb(218, 218, 218);
}
.button--medium {
    margin-top: 1rem;
    width: 100%;
}

.form__col--third {
    width: 48%;
}
.logo1 {
    margin-left: 45%;
    margin-right: auto;
    margin-bottom: 1rem;
}
// input.ng-touched.ng-invalid {
//     border-color: red;
// }
 .card--footer {
     text-align: center;
 }
 .card--footer h4{
     color: black;
     font-weight: 500;
 }
 .card--footer h3 {
     font-weight: 500;
 }
 .card--footer a {
     text-decoration: none;
     cursor: pointer;
 }
 .register--success{
    background: #08ad08;
    color: #ffffff;
    /* position: absolute; */
    margin: 0 auto;
    width: 500px;
    padding: 25px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 18px #707070;
    text-align: center;
    p {
        margin: 0 !important;
        font-weight: bold;
        font-size: 20px;
    }
 }
 .field-icon {
    float: right;
    margin-left: -45px;
    margin-top: -45px;
    position: relative;
    
  }
  i {
    margin-left: -35px;
    cursor: pointer;
   
}