<div class="container" style="margin-left: 36px;margin-top: 21px;">

    <div class="container" style="display: flex;">
        <p>Radio</p> &nbsp; &nbsp;<div class="form__group form__group--radio">
            <input id="radio1" class="form__radio" type="radio" name="dynamic_radio200">
            <label class="form__group-label" for="radio1"> True
            </label>
        </div>
        <div class="form__group form__group--radio">
            <input id="radio2" class="form__radio" type="radio" name="dynamic_radio200">
            <label class="form__group-label" for="radio2"> False</label>
        </div>
    </div>
</div>