<div id="AddUOMinnerModal" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description"
    tabindex="-1" hidden="">
    <div class="invModal__head">
        <h2 class="invModal__title" style="font-size: 20px;">Add New {{tenantConfiguration?.uomTermCustomized}}</h2>
        <span class="invModal__control">
            <div class="tooltip" title="Example text here"><svg
                    class="icon-simple icon-simple--theme01 icon-simple--info" aria-labelledby="title-5f8fce8eb7064"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12">
                    <g data-name="Group 748" fill="currentColor">
                        <path data-name="Path 435"
                            d="M6 11.998a6 6 0 116-6 6.007 6.007 0 01-6 6zM6 .683a5.316 5.316 0 105.317 5.315A5.322 5.322 0 006 .684z">
                        </path>
                        <path data-name="Path 436"
                            d="M5.4 3.375a.573.573 0 01.15-.423.593.593 0 01.43-.147.58.58 0 01.421.147.568.568 0 01.15.423.556.556 0 01-.15.412.57.57 0 01-.421.151.583.583 0 01-.43-.151.56.56 0 01-.15-.412zm1.086 6.1H5.461V4.654h1.025z">
                        </path>
                    </g>
                </svg></div>
        </span>
    </div>
    <div class="invModal__body">
        <form class="form" #form="ngForm" [formGroup]="uomForm">
            <div class="form__section">
                <div class="form__col-wrap">
                    <div class="form__col">
                        <label class="form__label" for="UOM-filled-name">{{tenantConfiguration?.uomTermCustomized}}
                            Name<span class="form__required">*</span></label>
                        <input class="form__input" type="text" id="UOM-filled-name" name="UOM-filled-name"
                            formControlName="uomName" required>
                        <!-- <div class="tooltip" title="Example text here"><svg
                                class="icon-simple icon-simple--theme01 icon-simple--info"
                                aria-labelledby="title-5f8fce8eb7070" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 12 12" width="12" height="12">
                                <g data-name="Group 748" fill="currentColor">
                                    <path data-name="Path 435"
                                        d="M6 11.998a6 6 0 116-6 6.007 6.007 0 01-6 6zM6 .683a5.316 5.316 0 105.317 5.315A5.322 5.322 0 006 .684z">
                                    </path>
                                    <path data-name="Path 436"
                                        d="M5.4 3.375a.573.573 0 01.15-.423.593.593 0 01.43-.147.58.58 0 01.421.147.568.568 0 01.15.423.556.556 0 01-.15.412.57.57 0 01-.421.151.583.583 0 01-.43-.151.56.56 0 01-.15-.412zm1.086 6.1H5.461V4.654h1.025z">
                                    </path>
                                </g>
                            </svg></div> -->
                    </div>
                </div>
            </div>

            <div class="button-group">
                <button type="submit" (click)="AddNewUOM()" class="button button--medium">Save</button>
                <button type="button" #AddUOMClose (click)="closeUom(form)"
                    class="button button--medium button--text-only" data-close="#AddUOMinnerModal">Cancel
                </button>
            </div>
        </form>
    </div>
</div>