<div>
    <div class="modal">
        <div id="DeleteConfirm">
            <div class="Modal__head">
                <h1 class="invModal__title">Are You Sure ?</h1>
            </div>
            <div class="Modal__body">
                <p class="invModal__title">Are you sure you want to clear all items?</p>
            </div>
            <div class="Modal__footer">
                <div class="button-group">
                    <button style="cursor: pointer;" (click)="Confirm()" type="submit" class="button button--medium"
                        id="confirmBtn">Confirm</button>
                    <button style="cursor: pointer;" type="button" (click)="close()"
                        class="button button--medium button--text-only">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>