<div class="action action--convert" *ngIf="IsConvertEvent!=undefined && item!=undefined&& CircumstanceFields!=undefined"
    [ngClass]="{'action--is-active': item.isConvertOpen}">
    <button *ngIf="item.isConvertOpen"
        class="icons__item icons__item--theme09 icons__item--clone icons__item--is-active"
        style="top: 0px; left: 275px;">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--convert" aria-labelledby="title-5f83f4826a199"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M48 0v48H0V0z"></path>
                <circle cx="24" cy="36.1" r="7.4" fill="currentColor" class="icon__color--primary">
                </circle>
                <circle cx="40.6" cy="11.4" r="4.9" fill="currentColor" class="icon__color--secondary">
                </circle>
                <circle cx="7.4" cy="11.4" r="4.9" fill="currentColor" class="icon__color--secondary">
                </circle>
                <circle cx="24" cy="18.8" r="4.9" fill="currentColor" class="icon__color--secondary">
                </circle>
            </svg></div>
        <span class="icons__label">Convert</span>
    </button>
    <form class="action__wrap form" #f="ngForm">
        <div class="form__section">
            <h2 class="form__section-title">Convert this QTY...</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="quantity_convert_Convert">Quantity<span
                            class="form__required">*</span></label>
                    <input class="form__input" [(ngModel)]="InventoryTransactionObj.transactionQty" type="number"
                        id="quantity_convert_Convert" name="quantity_convert_Convert" required>
                </div>

            </div>
        </div>
        <div class="form__section">
            <h2 class="form__section-title">Into this QTY of this UOM...</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="location_convert">New Qty<span
                            class="form__required">*</span></label>
                    <input class="form__input" type="number" id="location_convert"
                        [(ngModel)]="TransactionTargetObj.ToConvertedQuantity" name="location_convert" required>
                </div>
                <div class="form__col form__col--third">
                    <label class="form__label" for="Uom_convert">New UOM <span class="form__required">*</span></label>
                    <select class="form__input form__select" id="Uom_convert" name="Uom_convert"
                        [(ngModel)]="TransactionTargetObj.ToUomId" required>
                        <option value=""></option>
                        <option *ngFor="let option of UomList" [value]="option.uomId">{{option.uomName}}</option>
                    </select>
                </div>
                <div class="form__col form__col--third">

                </div>
            </div>
        </div>

        <div class="form__section">
            <h2 class="form__section-title">Under these circumstances</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="event-date_convert_{{item.inventoryId}}">Event
                        Date</label>
                    <input type="date" class="form__input" type="date" id="TransactionDate"
                        [ngModel]="today | date:'yyyy-MM-dd'" name="TransactionDate" required>
                </div>
                <ng-container *ngFor="let field of CircumstanceFields">
                    <div class="form__col form__col--third"
                        [ngClass]="field.customFieldSpecialType=='Currency'?'currencyfield':''||field.dataType=='True/False'?'form__col--group':''"
                        *ngIf="field.customFieldIncludeOnConvert">

                        <label class="form__label" *ngIf="field.dataType!='True/False'"
                            for="Circustance_{{field.columnId}}"
                            [ngClass]="field.customFieldPrefix ? 'prefixLabel':''">{{field.columnLabel}}<span
                                *ngIf="field.customFieldIsRequired" class="form__required">*</span></label>
                        <span class="form__group-outer-label"
                            *ngIf="field.dataType=='True/False'">{{
                                                            (field.columnLabel.length>5)? (field.columnLabel | slice:0:5)+'...':(field.columnLabel)}}
                            :</span>
                        <ng-container *ngIf="field.dataType=='Text'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Autocomplete'">
                                <ng-autocomplete [data]="ComboValueDropdown(field.comboBoxValue)"
                                    [searchKeyword]="keyword" (selected)='selectEvent($event)' [debounceTime]="600"
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='Dropdown'">

                                <!-- <select class="form__input form__select" id="Circustance_{{field.columnId}}"
                                    name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue" required>
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select> -->
                                <select class="floating-select" id="Circustance_{{field.columnId}}"
                                    name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    required="required">
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='OpenField'">
                                <ng-container *ngIf="field.customFieldSuffix||field.customFieldPrefix"
                                    class="input-group">
                                    <span *ngIf="field.customFieldPrefix"
                                        class="input-group-addon text Prefix">{{field.customFieldPrefix}}</span>
                                    <input type="text" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}"
                                        [ngClass]="field.customFieldPrefix ? 'Addon':''"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                    <span *ngIf="field.customFieldSuffix"
                                        class="input-group-addon text Suffix">{{field.customFieldSuffix}}</span>
                                </ng-container>
                                <ng-container *ngIf="!field.customFieldSuffix&&!field.customFieldPrefix">
                                    <input type="text" maxlength="{{field.customFieldTextMaxLength}}"
                                        [required]="field.customFieldIsRequired" id="Circustance_{{field.columnId}}"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                </ng-container>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">

                                <input type="text" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">

                            </ng-container>

                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Number'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Number'">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Currency'" class="input-group">
                                <span class="input-group-addon text">$</span>
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>



                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Date/Time'">
                            <ng-container
                                *ngIf="field.customFieldSpecialType=='Date'||field.customFieldSpecialType==''">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Date & Time'">
                                <input type="datetime-local" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-with-time-mode="true"
                                    data-flatpickr-mode="single" class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Time'">
                                <input type="time" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="field.dataType=='True/False'">

                            <div class="form__group form__group--radio">
                                <input id="Circustance_{{field.columnId}}_1" [(ngModel)]="field.columnValue"
                                    class="form__radio" type="radio" value="{{field.customFieldFalseLabel}}"
                                    name="radio200_{{field.columnId}}">
                                <label class="form__group-label"
                                    for="Circustance_{{field.columnId}}_1">{{field.customFieldFalseLabel}}</label>

                            </div>
                            <div class="form__group form__group--radio">
                                <input [(ngModel)]="field.columnValue" value="{{field.customFieldTrueLabel}}"
                                    id="Circustance_{{field.columnId}}_2" class="form__radio" type="radio"
                                    name="radio200_{{field.columnId}}">
                                <label class="form__group-label"
                                    for="Circustance_{{field.columnId}}_2">{{field.customFieldTrueLabel}}</label>

                            </div>
                            <!-- <div class="form__group form__group--checkbox">
                                <input id="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    class="form__checkbox" type="checkbox" name="checkbox[]">
                                <label class="form__group-label"
                                    for="Circustance_{{field.columnId}}">{{field.columnName}}</label>
                            </div> -->
                        </ng-container>
                    </div>
                </ng-container>

                <div class="form__col form__col--third">
                </div>
                <div class="form__col form__col--third">
                </div>
            </div>
        </div>
        <div class="button-group">
            <button type="submit" [disabled]="!f.form.valid" class="button button--medium"
                (click)="ConvertEventSubmit()">Save</button>
            <button type="button" class="button button--medium button--text-only js-trigger" (click)="EventAction(item)"
                data-trigger=".table__button-group .icons__item.is-active">Cancel
            </button>
        </div>
    </form>
    <button class="action__close js-trigger icons--size02" data-trigger=".table__button-group .icons__item.is-active"
        type="button">
        Back to Event Menu
    </button>

</div>