<div class="actions">
    <div class="actions__title">
        <h2> Perform Inventory Events By Uploading a File </h2>
    </div>
</div>

<section class="main">
    <div class="form__col-wrap">
        <div class="form__col form__col--full">
            <div class="card">
                <div class="card-body">
                    <!-- <h3>What Type of Events would you like to Upload? </h3> -->
                    <div class="upload--card">
                        <div class="form__section">
                            <div class="form__col-wrap">
                                <div class="form__one">
                                    <div class="upload--activity-icon">
                                        <div class="Event_Icon">
                                            <div class="icons__item--theme11">
                                                <svg class="icon icon--theme01 icon--add"
                                                    aria-labelledby="title-5fc489b8acf9c"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="36"
                                                    height="36">
                                                    <path fill="none" d="M0 0h48v48H0z"></path>
                                                    <path d="M28 36v12h-8V28a8 8 0 00-8-8 16 16 0 0116 16z"
                                                        fill="currentColor" class="icon__color--secondary"></path>
                                                    <path d="M20 28H0v-8h12a8 8 0 018 8z" fill="currentColor"
                                                        class="icon__color--secondary">
                                                    </path>
                                                    <path d="M20 12V0h8v20a8 8 0 008 8 16 16 0 01-16-16z"
                                                        fill="currentColor" class="icon__color--secondary"></path>
                                                    <path d="M28 20h20v8H36a8 8 0 01-8-8z" fill="currentColor"
                                                        class="icon__color--secondary">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <h3> Add Activity </h3>
                                    </div>
                                </div>
                                <div class="form__two">
                                    <div class="form__section">
                                        <h4><b>What It Does</b></h4>
                                        <p>Creates any items, locations,
                                            or other data that do not
                                            already exist in your inventory
                                            libraries and adds the units of items
                                            to your current inventory.</p>
                                    </div>
                                    <div class="form__section">
                                        <h4><b>When to use its</b></h4>
                                        <p>
                                            The 'Create and Add' upload is ideal
                                            for populating your inventory
                                            for the first time, or when adding
                                            new product lines</p>
                                        <br>
                                    </div>
                                    <div class="form__section">
                                        <h4><b>What's Requareds</b></h4>
                                        <p>The layout and organization of the file that you
                                            upload must exactly match our template file,
                                            and you can perform a maximum of
                                            2,000 events (rows) per upload.</p>
                                    </div>
                                </div>
                                <div class="form__three">
                                    <div class="form__section">
                                        <div class="icons__item">
                                            <div class="icons__icon"><svg class="icon icon--theme01 icon--download"
                                                    aria-labelledby="title-5fa9247115d51"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48"
                                                    height="48">
                                                    <path
                                                        d="M42.2 37.8A5.8 5.8 0 0038 36H10a6 6 0 00-6 6 5.6 5.6 0 001.8 4.2A5.6 5.6 0 0010 48h28a6 6 0 006-6 5.6 5.6 0 00-1.8-4.2zM38 45a3 3 0 113-3 2.9 2.9 0 01-3 3z"
                                                        fill="currentColor" class="icon__color--primary"></path>
                                                    <path d="M0 48h48V0H0z" fill="none"></path>
                                                    <path
                                                        d="M29 23.9a8 8 0 006.3-3h.1l8.8-11.6-6.3-4.9-4 5.2-9.7 12.6a7.6 7.6 0 004.8 1.7z"
                                                        fill="currentColor" class="icon__color--secondary">
                                                    </path>
                                                    <path
                                                        d="M17.6 27.3L3.8 9.3l6.3-4.9 12.6 16.4a6.7 6.7 0 001.5 1.4 7.6 7.6 0 004.8 1.7 8 8 0 006.3-3l-5 6.4a8 8 0 01-12.7 0z"
                                                        fill="currentColor" class="icon__color--primary"></path>
                                                </svg></div>
                                        </div>
                                        <a href="#" style="color: dodgerblue;font-size: 16px;">
                                            <b>Download Template File</b>
                                        </a>
                                    </div>
                                    <div class="form__section">
                                        <h4><b>Is Your File Ready?</b></h4>
                                        <p> If you have a completed template file,
                                            click the 'next' button.</p>
                                    </div>
                                    <div class="button-group">
                                        <button type="button" class="button button--medium">Next
                                        </button>
                                        <button type="button" class="button button--medium button--text-only"
                                            (click)="Close()" id="Closebtn">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>