<div class="container" style=" margin-left: 36px;
    margin-top: 21px;
">
    <div class="container" style="display: flex;">
        <p>OpenTextField</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form__col form__col--half">
            <label class="form__label" for="text">Text</label>
            <input type="text" id="text" style="width: 160px;" name="text" class="form__input">
        </div>
    </div>
    <div class="container" style="display: flex;">
        <p>Prefix Text Field</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form__col form__col--half input-group">
            <span class="input-group-addon text" style="margin-left: 7px;">1</span>
            <label class="form__label" style="margin-left: 20px;" for="prefix">prefix</label>
            <input type="text" id="prefix" class="form__input Addon" style="width: 160px;" name="prefix">
        </div>
    </div>
    <div class="container" style="display: flex;">
        <p>Postfix Text Field</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form__col form__col--half input-group">
            <label class="form__label" for="suffix">seffsadfcsdf</label>
            <input type="text" id="suffix" class="form__input Addon" style="width: 160px;" name="suffix">
            <span class="input-group-addon text Suffix" style="margin-left: 7px;">12</span>
        </div>
    </div>
    <div class="container" style="display: flex;">
        <p>Prefix Postfix Text Field</p> &nbsp;&nbsp;
        <div class="form__col form__col--half input-group">
            <span class="input-group-addon text" style="margin-left: 7px; float: right;">1</span>
            <label class="form__label" for="PrefixPostfix" style="margin-left: 20px;">seff</label>
            <input type="text" id="PrefixPostfix" class="form__input Addon" style="width: 160px;" name="PrefixPostfix">
            <span class="input-group-addon text Suffix">1</span>
        </div>
    </div>
    <div class="container" style="display: flex;">
        <p>Incrementor Text Field</p> &nbsp;&nbsp;<input type="text" id="Incrementor" style="width: 160px;"
            name="Incrementor" class="form__input">
    </div>
    <div class="container" style="display: flex;">
        <p> Dropdown</p> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;<select class="floating-select" id="dynamic_Attribute" name="dynamic_Attribute" value=""
            style="width: 160px; ">
            <option value=""></option>
            <option> 1 </option>
            <option> 2 </option>
        </select>

    </div>
    <div class="container" style="display: flex;">
        <p>Autocomplete</p> &nbsp;
    </div>
</div>