<div class="action action--move-change"
    *ngIf="IsMoveAndChangeEvent!=undefined&&item!=undefined&&CircumstanceFields!=undefined&&StateFields!=undefined"
    [ngClass]="{'action--is-active':IsMoveAndChangeEvent}">
    <button *ngIf="IsMoveAndChangeEvent"
        class="icons__item icons__item--theme06 icons__item--clone icons__item--is-active"
        style="top: 0px; left: 275px;">
        <div class="icons__icon"><svg class="icon icon--theme01 icon--move-change" aria-labelledby="title-5f8570977b0e7"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48" height="48">
                <path fill="none" d="M0 0h48v48H0z"></path>
                <path d="M7 28h15v20H7a3 3 0 01-3-3V31a3 3 0 013-3z" fill="currentColor" class="icon__color--primary">
                </path>
                <path d="M38 42a6 6 0 01-6 6h-6v-6zm0-8H26v-6h6a6 6 0 016 6z" fill="currentColor"
                    class="icon__color--secondary"></path>
                <path
                    d="M38 28h-6a6 6 0 016 6v8a6 6 0 01-6 6h6a6 6 0 006-6v-8a6 6 0 00-6-6zm3.9-14.2l-8-8a6 6 0 011.3 6.5 5.7 5.7 0 01-3 3.1 5.1 5.1 0 01-2.5.6H4v8h33.7a6 6 0 004.2-10.2z"
                    fill="currentColor" class="icon__color--primary"></path>
                <path d="M33.9 5.8l-4.1-4.2-5.7 5.7 8.1 8.1a5.7 5.7 0 003-3.1 6 6 0 00-1.3-6.5z" fill="currentColor"
                    class="icon__color--secondary"></path>
            </svg></div>
        <span class="icons__label">Move &amp; Change</span>
    </button>
    <form class="action__wrap form" #f="ngForm">
        <div class="form__section">
            <h2 class="form__section-title">Move & Change this QTY...</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="quantity_add">Quantity<span class="form__required">*</span></label>
                    <input class="form__input" type="number" id="quantity_add"
                        [(ngModel)]="InventoryTransactionObj.transactionQty" required name="quantity_add" required>
                </div>

            </div>
        </div>

        <div class="form__section">
            <h2 class="form__section-title">To this Location ...</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="" for="location_move">Location<span class="form__required">*</span></label>
                    <ng-autocomplete [data]="data" [searchKeyword]="Locationkeyword"
                        (selected)='selectLocationEvent($event)' id="location_move" name="location_move"
                        (inputChanged)='getLocation($event)' [debounceTime]="600" [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate" disableCloseOnSelect="true" [isLoading]="isLoadingResult"
                        (inputCleared)="searchCleared()">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.locationName"></a>

                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <a [innerHTML]="notFound"></a>
                    </ng-template>
                </div>

            </div>
        </div>
        <div class="form__section">
            <h2 class="form__section-title">With these states</h2>
            <div class="form__col-wrap">

                <ng-container *ngFor="let field of StateFields">
                    <div class="form__col form__col--third"
                        [ngClass]="field.customFieldSpecialType=='Currency'?'currencyfield':''">
                        <label class="form__label" *ngIf="field.dataType!='True/False'" for="State_{{field.columnId}}"
                            [ngClass]="field.customFieldPrefix ? 'prefixLabel':''">{{field.columnLabel}}</label>

                        <ng-container *ngIf="field.dataType=='Text'">
                            <ng-container *ngIf="field.customFieldSpecialType=='Autocomplete'">
                                <ng-autocomplete [data]="ComboValueDropdown(field.comboBoxValue)"
                                    [searchKeyword]="keyword" (selected)='selectEvent($event)' [debounceTime]="600"
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='Dropdown'">

                                <!-- <select class="form__input form__select" id="State_{{field.columnId}}"
                                    name="State_{{field.columnId}}" [(ngModel)]="field.columnValue" required>
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select> -->
                                <select class="floating-select" id="State_{{field.columnId}}"
                                    name="State_{{field.columnId}}" [(ngModel)]="field.columnValue" required="required">
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='OpenField'">
                                <ng-container *ngIf="field.customFieldSuffix||field.customFieldPrefix"
                                    class="input-group">
                                    <span *ngIf="field.customFieldPrefix"
                                        class="input-group-addon text Prefix">{{field.customFieldPrefix}}</span>
                                    <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                        id="State_{{field.columnId}}" [ngClass]="field.customFieldPrefix ? 'Addon':''"
                                        name="State_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                    <span *ngIf="field.customFieldSuffix"
                                        class="input-group-addon text Suffix">{{field.customFieldSuffix}}</span>
                                </ng-container>
                                <ng-container *ngIf="!field.customFieldSuffix&&!field.customFieldPrefix">
                                    <input type="{{field.dataType}}" maxlength="{{field.customFieldTextMaxLength}}"
                                        [required]="field.customFieldIsRequired" id="State_{{field.columnId}}"
                                        name="State_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                </ng-container>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">

                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">

                            </ng-container>

                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Number'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Number'">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Currency'" class="input-group">
                                <span class="input-group-addon text">$</span>
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>



                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Date/Time'">
                            <ng-container
                                *ngIf="field.customFieldSpecialType=='Date'||field.customFieldSpecialType==''">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Date & Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="State_{{field.columnId}}" name="State_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input flatpickr">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="field.dataType=='True/False'">
                            <div class="form__group form__group--checkbox">
                                <input id="State_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    class="form__checkbox" type="checkbox" name="checkbox[]">
                                <label class="form__group-label"
                                    for="State_{{field.columnId}}">{{field.columnLabel}}</label>
                            </div>


                        </ng-container>
                    </div>
                </ng-container>
                <div class="form__col form__col--third">
                </div>
                <div class="form__col form__col--third">
                </div>
            </div>
        </div>
        <div class="form__section">
            <h2 class="form__section-title">Update Status to...
            </h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="statusValue_Moveandchange">Status</label>
                    <select [(ngModel)]="TransactionTargetObj.ToStatus" class="form__input form__select"
                        id="statusValue_Moveandchange" name="statusValue_Moveandchange">
                        <option></option>
                        <option *ngFor="let itema of statusList">{{itema.statusValue}}
                        </option>
                    </select>

                    <select class="floating-select" id="Circustance_{{field.columnId}}"
                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue" required="required">
                        <option value=""></option>
                        <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                            {{opt}}
                        </option>
                    </select>
                </div>

            </div>
        </div>
        <div class="form__section">
            <h2 class="form__section-title">Under these circumstances</h2>
            <div class="form__col-wrap">
                <div class="form__col form__col--third">
                    <label class="form__label" for="event-date_move-change_Date">Event
                        Date</label>
                    <input type="date" class="form__input flatpickr" [ngModel]="today | date:'yyyy-MM-dd'"
                        id="event-date_move-change_Date" name="event-date_move-change_Date"
                        data-flatpickr-mode="single">
                </div>

                <ng-container *ngFor="let field of CircumstanceFields">

                    <div class="form__col form__col--third"
                        [ngClass]="field.customFieldSpecialType=='Currency'?'currencyfield':''||field.dataType=='True/False'?'form__col--group':''"
                        *ngIf="field.customFieldIncludeOnMoveTagUpdate">

                        <label class="form__label" *ngIf="field.dataType!='True/False'"
                            for="Circustance_{{field.columnId}}"
                            [ngClass]="field.customFieldPrefix ? 'prefixLabel':''">{{field.columnLabel}}<span
                                *ngIf="field.customFieldIsRequired" class="form__required">*</span></label>
                        <span class="form__group-outer-label"
                            *ngIf="field.dataType=='True/False'">{{
                                                            (field.columnLabel.length>5)? (field.columnLabel | slice:0:5)+'...':(field.columnLabel)}}
                            :</span>
                        <ng-container *ngIf="field.dataType=='Text'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Autocomplete'">
                                <ng-autocomplete [data]="ComboValueDropdown(field.comboBoxValue)"
                                    [searchKeyword]="keyword" (selected)='selectEvent($event)' [debounceTime]="600"
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='Dropdown'">

                                <!-- <select class="form__input form__select" id="Circustance_{{field.columnId}}"
                                    name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue" required>
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select> -->
                                <select class="floating-select" id="Circustance_{{field.columnId}}"
                                    name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    required="required">
                                    <option value=""></option>
                                    <option *ngFor="let opt of ComboValueDropdown(field.comboBoxValue)" [value]="opt">
                                        {{opt}}
                                    </option>
                                </select>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType=='OpenField'">
                                <ng-container *ngIf="field.customFieldSuffix||field.customFieldPrefix"
                                    class="input-group">
                                    <span *ngIf="field.customFieldPrefix"
                                        class="input-group-addon text Prefix">{{field.customFieldPrefix}}</span>
                                    <input type="text" [required]="field.customFieldIsRequired"
                                        id="Circustance_{{field.columnId}}"
                                        [ngClass]="field.customFieldPrefix ? 'Addon':''"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                    <span *ngIf="field.customFieldSuffix"
                                        class="input-group-addon text Suffix">{{field.customFieldSuffix}}</span>
                                </ng-container>
                                <ng-container *ngIf="!field.customFieldSuffix&&!field.customFieldPrefix">
                                    <input type="text" maxlength="{{field.customFieldTextMaxLength}}"
                                        [required]="field.customFieldIsRequired" id="Circustance_{{field.columnId}}"
                                        name="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                        class="form__input">
                                </ng-container>

                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">

                                <input type="text" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">

                            </ng-container>

                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Number'">

                            <ng-container *ngIf="field.customFieldSpecialType=='Number'">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Currency'" class="input-group">
                                <span class="input-group-addon text">$</span>
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>

                            <ng-container *ngIf="field.customFieldSpecialType==''">
                                <input type="{{field.dataType}}" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" class="form__input">
                            </ng-container>



                        </ng-container>
                        <ng-container *ngIf="field.dataType=='Date/Time'">
                            <ng-container
                                *ngIf="field.customFieldSpecialType=='Date'||field.customFieldSpecialType==''">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Date & Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                            <ng-container *ngIf="field.customFieldSpecialType=='Time'">
                                <input type="date" [required]="field.customFieldIsRequired"
                                    id="Circustance_{{field.columnId}}" name="Circustance_{{field.columnId}}"
                                    [(ngModel)]="field.columnValue" data-flatpickr-mode="single"
                                    class="form__input flatpickr">
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="field.dataType=='True/False'">
                            <div class="form__group form__group--radio">
                                <input id="Circustance_{{field.columnId}}_1" [(ngModel)]="field.columnValue"
                                    class="form__radio" type="radio" value="{{field.customFieldFalseLabel}}"
                                    name="radio200_{{field.columnId}}">
                                <label class="form__group-label"
                                    for="Circustance_{{field.columnId}}_1">{{field.customFieldFalseLabel}}</label>

                            </div>
                            <div class="form__group form__group--radio">
                                <input [(ngModel)]="field.columnValue" value="{{field.customFieldTrueLabel}}"
                                    id="Circustance_{{field.columnId}}_2" class="form__radio" type="radio"
                                    name="radio200_{{field.columnId}}">

                                <label class="form__group-label"
                                    for="Circustance_{{field.columnId}}_2">{{field.customFieldTrueLabel}}</label>
                            </div>
                            <!-- <div class="form__group form__group--checkbox">
                                <input id="Circustance_{{field.columnId}}" [(ngModel)]="field.columnValue"
                                    class="form__checkbox" type="checkbox" name="checkbox[]">
                                <label class="form__group-label"
                                    for="Circustance_{{field.columnId}}">{{field.columnName}}</label>
                            </div> -->
                        </ng-container>
                    </div>
                </ng-container>

                <div class="form__col form__col--third">
                </div>
                <div class="form__col form__col--third">
                </div>
            </div>
        </div>
        <div class="button-group">
            <button type="submit" type="submit" [disabled]="!f.form.valid" (click)="MoveandChangeEventSubmit()"
                class="button button--medium" href="#">Save</button>
            <button type="button" class="button button--medium button--text-only js-trigger" (click)="EventAction(item)"
                data-trigger=".table__button-group .icons__item.is-active">Cancel
            </button></div>
    </form>
    <button class="action__close js-trigger icons--size02" data-trigger=".table__button-group .icons__item.is-active"
        type="button">
        Back to Event Menu
    </button>

</div>