<section class="main">
    <div class="row">
        <div class="col-md-6">
            <div class="edit--card">
                <div class="edit--card-header"></div>
                <div>
                    <ul class="nav_menu">
                        <li class="nav_menu-item">
                            <a type="button" (click)="Text()" [ngClass]="!Time&&!Number&&!False?'Active':''">Text</a>
                        </li>
                        <li class="nav_menu-item">
                            <a type="button" (click)="Numbers()" [ngClass]="Number?'Active':''">Number</a>
                        </li>
                        <li class="nav_menu-item">
                            <a type="button" (click)="Times()" [ngClass]="Time?'Active':''">Date/Time</a>
                        </li>
                        <li class="nav_menu-item">
                            <a type="button" (click)="True()" [ngClass]="False?'Active':''">True/false</a>
                        </li>

                    </ul>
                </div>

                <div class="edit-input-card">
                    <app-time *ngIf="Time"></app-time>
                    <app-number *ngIf="Number"></app-number>
                    <app-text *ngIf="!Time&&!Number&&!False"></app-text>
                    <app-false *ngIf="False"></app-false>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="edit--card">
                <form>
                    <h2>Form Title</h2>


                    <div>

                        <!-- <ng-container *ngIf="field.customFieldSpecialType=='Autocomplete'">
                <ng-autocomplete [data]="ComboValueDropdown(field.comboBoxValue)"
                    [searchKeyword]="keyword" (selected)='selectEvent($event)' [debounceTime]="600"
                    [itemTemplate]="itemTemplate" [disabled]="IsItemHave"
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item"></a>
                </ng-template>
            </ng-container> -->


                    </div>

                    <div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</section>