
.nav_menu-item .Active {
    /* background-color: #128ece; */
    border-bottom: 4px solid #128ece;
    background:none;
    color:#128ece;
    /* border-bottom-style:solid; */
}
a{
    cursor: pointer;
}

.button--medium
{
    background:none;
    color: black;
}