
  .invModal__body {
    height: 60vh;
    overflow: auto;
    padding: 1rem 3.75rem;
}
.invModal__footer {
    padding: 0 4.75rem;
}
.button-group {
  justify-content: left;
}

.icons__item img{
    display: inline;
    width:17px!important;
}