@import "~ng-pick-datetime/assets/style/picker.min.css";
  .invModal__body {
    height: 60vh;
    overflow: auto;
    padding: 1rem 3.75rem;
}
.invModal__footer {
    padding: 0 4.75rem;
}
.button-group {
  justify-content: left;
}

.icons__item img{
    display: inline;
    width:17px!important;
}

// .toggleDropDown {
//       background-color: #ffffff;
//     box-shadow: 0 0 0.625rem #96a0aa;
//     left: 178px;
//     list-style-type: none;
//     margin: 0;
//         max-height: 1000px;
//     overflow: visible;
//     padding-bottom: 1rem;
//     padding-top: 1rem;
//     min-width: 200px;
//     // overflow: hidden;
//     padding: 0;
//     position: absolute;
//     top: 78px;
//     // top: calc(100% + .25rem);
//     transition-duration: 150ms;
//     transition-property: max-height, padding;
//     transition-timing-function: ease;
//     z-index: 11000;
  
// }