.action {
  max-height: 0;
  overflow: hidden;
  transition-duration: 100ms;
  transition-property: max-height;
  transition-timing-function: linear;
  &.action--is-active {
    max-height: 1000px;
    margin-top: 21px;
  }
}
.action__wrap {
  margin-left: 0;
  padding: 2rem 1.25rem 1.25rem;
}
.action__close {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: $clearly-blue;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  transition-duration: 100ms;
  transition-property: opacity, visibility;
  transition-timing-function: linear;
  visibility: hidden;
  .icons__item {
    margin-left: 2rem;
  }
  .action-is-active & {
    opacity: 1;
    visibility: visible;
  }
}
