<section class="main">
    <div class="card1 icons icons--horziontal icons--size01" role="listitem">
        <div class="card-header1" id="header">
            <h2><strong>You are Not Permitted for this Page</strong></h2>

        </div>
        <div class="card-body">


            <button class="button button--medium button--theme02 js-modal" type="button" routerLink="/CurrentInventory"
                data-modal="#InventorytestModal">
                Go to Inventory
            </button>





        </div>

    </div>
</section>